
div {
    font-family:"Gill Sans";
}

.mysvg
{
    fill:rgba(239, 237, 248, 0.06));
}

svg .mycircle {
    fill: rgba(15, 103, 197, 0.39);
}

svg .rectangle {
    fill: rgba(35, 80, 129, 0.59);
}

div {
 cursor:default;
}

.graphline {
    fill : none;
    stroke-width : 3 ;
    stroke-linejoin : round;
    stroke-linecap: round;
    -webkit-filter: drop-shadow( -5px -5px 5px #000000 );
            filter: drop-shadow( -5px -5px 5px #000000 );
}

.graphline_proj {
    fill : none;
    stroke-width : 4;
    stroke-dasharray : 10, 8;
    stroke-linejoin : round;
    stroke-linecap: round;
    
}

.home {
    font-family: "Gill Sans";
    font-size: 50px;
    position : absolute;
    top : 10px;
    left 10px;
}

.textbox {
    fill : rgba(141, 155, 170, 0.06);
    stroke : rgba(191, 201, 195, 0.1);
    stroke-width : 3 ;
}
    
.grapharea {
    stroke-width : 0 ;
}

.grapharea_proj {
    stroke-width : 0 ;
}

.graphcircle {
    stroke-width : 2;
}

.axis path,
.axis line {
    fill: none;
    stroke: rgba(35, 59, 85, 0.56);
    stroke-width : 2;
    shape-rendering: crispEdges;
    
}

.axis text {
    font-family: "Gill Sans";
    font-size: 11px;
    cursor: default;
}

.timeaxis path,
.timeaxis line {
    fill: none;
    stroke: steelblue;
    stroke-width : 3;
    shape-rendering: crispEdges;
    stroke-linejoin : round;
    stroke-linecap: round;

}

.label {
    font-family: "Gill Sans";
    font-size: 12px;
    shape-rendering: crispEdges;
    text-rendering: "optimizeLegibility";
    stroke-width:0px;
    fill: rgba(0, 0, 0, 0.51);
    cursor: default;
}

.timeaxis text {
    font-family: "Gill Sans";
    font-size: 20px;
}

.timeselector {
    stroke-width : 5;
    fill : rgb(253, 253, 253);
    stroke : rgba(53, 143, 234, 0.98);
}

.tooltip {
    background : rgba(52, 44, 44, 0.54);
    color : white;
    padding:5px;
    border-radius:5px;
}

.tname {
    font-size: 40px;
}

.tdesc{
    font-size: 16px;
}

.curly_b{
    stroke: rgba(35, 59, 85, 0.56);
    stroke-width : 3;
    fill : none
}

.homet{
    font-size: 50px;
}

.homec{
    font-size: 18px;
}

.homediv img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.homeval {
    font-family: "Gill Sans";
    font-size: 46px;
    shape-rendering: crispEdges;
    text-rendering: optimizeLegibility;
    stroke-width:0px;
    fill: rgba(0, 0, 0, 0.51);
    cursor: default;
}

.tbrow{
    display:block;
    width:100%;
    height:50%;
    margin-bottom:3%;
}

.ticons{
    width:35px;
    float:left;
    margin-right:5px;
}

.trow{
    height:100%; 
    width:50%;
    float:left;
    font-size: 22px;
}


.tsection{
    font-size: 16px;
    color:#7a7b7b;
}

.tright{
    font-size: 22px;
}

.tvalue{
    font-size: 30px;
    color:rgb(0, 0, 0);
}

.tperc{
    font-size: 45px;
}

.ttext{
    font-size: 22px;
    margin-right: 5%;
}

.card rect {
    fill : rgb(155, 155, 159);
    fill-opacity : 0.2;
    stroke: rgb(51, 51, 51);
    stroke-opacity: 0.3;
    stroke-width: 3;
}

.card line {
    stroke: rgb(51, 51, 51);
    stroke-opacity: 0.3;
    stroke-width: 3;
}

.card text {
    font-family: "Gill Sans";
    shape-rendering: crispEdges;
    stroke-width:0px;
    cursor: default;

}

.carddiv {    
    text-align: center;
    vertical-align: middle;
}
