
div {
    font-family:"Gill Sans";
}


div {
 cursor:default;
}

.avbsvg{
    margin-left:auto; 
    margin-right: auto;
}

.graphline {
    fill : none;
    stroke-width : 3 ;
    stroke-linejoin : round;
    stroke-linecap: round;
}

.graphline_proj {
    fill : none;
    stroke-width : 4;
    stroke-dasharray : 10, 8;
    stroke-linejoin : round;
    stroke-linecap: round;
    
}

.home {
    font-family: "Gill Sans";
    font-size: 50px;
    position : absolute;
    top : 10px;
    left 10px;
}

.textbox {
    fill : rgba(141, 155, 170, 0.06);
    stroke : rgba(191, 201, 195, 0.1);
    stroke-width : 3 ;
}
    
.grapharea {
    stroke-width : 0 ;
}

.grapharea_proj {
    stroke-width : 0 ;
}

.graphcircle {
    stroke-width : 2;
}


.axis path,
.axis line {
    fill:grey;
    stroke: rgb(196,196,196);
    stroke-width : 1;
    stroke-linejoin : round;
    stroke-linecap: round;
    shape-rendering: crispEdges;
    
}

.axis text {
    font-family: "Gill Sans";
    font-size: 0.8em;
    cursor: default;
    fill: grey;
}

.timeaxis path,
.timeaxis line {
    fill: none;
    stroke: steelblue;
    stroke-width : 3;
    shape-rendering: crispEdges;
    stroke-linejoin : round;
    stroke-linecap: round;

}

.lab {
    font-family: "Gill Sans";
    font-size: 12px;
    shape-rendering: crispEdges;
    stroke-width:0px;
    fill: rgba(0, 0, 0, 0.51);
    cursor: default;
}

.timeaxis text {
    font-family: "Gill Sans";
    font-size: 20px;
}



.toolt {
    background : rgba(52, 44, 44, 0.54);
    color : white;
    padding:5px;
    border-radius:5px;
}


.curly_b{
    stroke: rgb(190, 190, 190);
    stroke-width : 3;
    fill : none;
    stroke-linejoin : round;
    stroke-linecap: round;
}

.homet{
    font-size: 50px;
}

.homec{
    font-size: 18px;
}

.homediv img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.homeval {
    font-family: "Gill Sans";
    font-size: 46px;
    shape-rendering: crispEdges;
    text-rendering: optimizeLegibility;
    stroke-width:0px;
    fill: rgba(0, 0, 0, 0.51);
    cursor: default;
}


.tsection{
    font-size: 16px;
    color:#7a7b7b;
}

.tright{
    font-size: 22px;
}

.tvalue{
    font-size: 30px;
    color:rgb(0, 0, 0);
}

.browser text {
  text-anchor: end;
}


.tlaxis path {
    fill: none;
    stroke-width : 0;
}

.tlaxis {
    font-size: 0.8em;
}

#tl {
    background-color: rgba(229, 229, 229, 0.71);
    margin-top: 1em;
    box-shadow: 1px 1px 10px rgb(101,101,101);
     border-radius: 5px;
     margin-bottom: 0.5em;
}

.tlb {
    fill : none;
    fill-opacity:0.2
    stroke: grey;
    stroke-width: 2px;
}

.multiarea {
    fill-opacity : 0.65;
}


.multiline {
    fill: none;
    stroke-width:2px;
    opacity: 1;
}

.multiaxis path {
    stroke-width: 0;
    fill: none;
}


.multigrid .tick {
    stroke: lightgrey;
    opacity: 0;
} 

.multigrid path {
      stroke-width: 1;
}

.tselect path{
    fill : steelblue;
    fill-opacity: 0.5;
    stroke-linejoin : round;
    stroke-linecap: round;

}

.tselect line {
    stroke-linejoin : round;
    stroke-linecap: round;
}

.card {
    background-color: rgba(229, 229, 229, 0.71);
    margin-top: 1em;
    box-shadow: 1px 1px 10px rgb(101,101,101);
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
    padding: 0.2em;
}

.card hr {
    margin: 0.05em;
    color: #9E9E9E;
    background-color: #9E9E9E;
}

.cardtitle {
    border : 1px;
    font-size: 1.2em;
}

.cardvalue {
    display: inline;
    font-size: 2em;
}

.carddesc {
    display: inline;
}

.grey {
    color : #aaaaaa;
}

#title-head {
  margin: 10px 0;
  font-family: inherit;
  font-size: 2em;
  font-weight: bold;
  line-height: 20px;
}

#title-descr {
    font-weight: 200;
    margin-left: 1%;
}

