
body,html{
  height:100%;
  cursor:default;
  font-family:"Helvetica Neue";
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body {


  background-image: url(/img/debut_light.png);
  background-repeat:repeat;
}

div {
  font-family:"Helvetica Neue";
}

div, text {
 cursor:default;
}

.vhscrollable {
  height:150px;
  overflow:auto;
}

#avb-menubar{
/*  -moz-box-shadow:inset 0px -2px 5px gray;
  -webkit-box-shadow:inset 0px -2px 5px gray;
  box-shadow:inset 0px -2px 5px gray;*/
  background-color: rgb(249,249,249);

  border-color:lightgrey;
  border-width:1px;
  border-bottom-style:solid;
  padding-bottom: 1%;
}


.menubutton{
  font-size: 1.2em;
  color : #aaaaaa;
}

#avb-body{
  margin-top:1%;  
  display:none; 
  font-weight: 200;
}

#bottom-container {
  position: relative;
  margin-top:15px; 
  margin-bottom:1%; 
  padding: 1%;
  text-align: left;
  white-space: normal;
  /*  background-color: #ffffff;*/
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  height: 250px;
}


.arrow_box {
  position: relative;
  background: #f9f9f9;
  border: 1px solid #a3a3a3;
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow_box:after {
  border-color: rgba(249, 249, 249, 0);
  border-bottom-color: #f9f9f9;
  border-width: 10px;
  left: 10%;
  margin-left: -10px;
}
.arrow_box:before {
  border-color: rgba(163, 163, 163, 0);
  border-bottom-color: #a3a3a3;
  border-width: 11px;
  left: 10%;
  margin-left: -11px;
}

.grey {
  color : #aaaaaa;
}

#chart .nv-legend .disabled circle {
  fill-opacity: 0;
}



#chart .chartline{
  fill : none;
  stroke-width: 3;
  stroke-linejoin : round;
  stroke-linecap: round;
}


#chart .chartline-projection {
  stroke-dasharray : 5, 5;
  stroke-linejoin : round;
  stroke-linecap: round;
}

#chart .browser text {
  text-anchor: end;
}

#chart .axis path,
#chart .axis line {
  stroke: grey;
  stroke-width : 0;
  stroke-linejoin : round;
  stroke-linecap: round;
  shape-rendering: crispEdges;
}

#chart .axis text {
  font-family: "Helvetica Neue";
  font-size: 0.8em;  
  fill: grey;
}

#chart .thisYearAxis {
  fill : black;
  font-size: 0.8em; 
  font-width: bold;

}

#chart .multiarea {
  fill-opacity : 0.65;
}

#chart .multiline {
  fill: none;
  stroke-width:2px;
  opacity: 1;
}

#chart .multiaxis path {
  stroke-width: 0;
  fill: none;
}

#chart .multigrid .tick {
  stroke: lightgrey;
  opacity: 0;
} 

#chart .multigrid path {
  stroke-width: 1;
}

.card-row:first-child{
  padding-left: 0;
}

.card {
  padding-top: 3%;
  margin-left: 2%;
}

.card-img{
  float: left;
}

.card-img img{
  display: block;
}

.cardtitle {
  font-size: 1.5em;
  border : 1px;
  color : #aaaaaa;
}

.cardvalue {
  font-size: 1.2em;
}


#title-head {
  margin: 10px 0;
  font-family: inherit;
  font-size: 2.5em;
}

#title-descr {
  font-weight: 200;
  font-size: 1.2em;
}


#vdivider{
  border-left:2px solid #aaaaaa;
  position:absolute;
  top:0;
  height: 100%;
}


#navigation rect {
  stroke: #eee;
  fill: #aaa;
  fill-opacity: .8;
}

#navigation rect.parent {
  cursor: pointer;
  fill: steelblue;
}


#navigation-container{
  height: 500px;
}

.container {
  width: 1200px;
}


#vdivider {
  left:240px;
}

@media only screen and (device-width: 768px){ 
  body,html{
    font-size: 12px;
  }

  .container {
    width: 980px;
  }

  #bottom-container{
    height: 200px;
  }

  #navigation-container{
    height: 420px;
  }

  #vdivider {
    left:196px;
  }

}
