$black: #333333;
$gray: #aaaaaa;
$red: rgb(167, 103, 108);
$blue: rgb(87,118,162);
$white: rgb(220, 223, 222);


// window container
#avb-body {
  margin-top: 1%;
  font-weight: 200;
  background-color: #f9f9f9;

  // border window
  #avb-wrap {
    position: relative;
    margin-bottom: 10px;
    padding: 15px;
    padding-top: 10px;
    text-align: left;
    white-space: normal;

    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    -moz-box-shadow: 0px 0px 10px #ccc;
    -webkit-box-shadow: 0px 0px 10px #ccc;
    box-shadow: 0px 0px 10px #ccc;

  }
}

/*
* Entry title and description
*/
.title-head {
    font-size: 3em;
    line-height: normal;
    white-space: nowrap;
}

/*
* Cards and legend
*/
.link {
  text-decoration: underline;
  cursor: auto;
  color: black;

  &:hover{
    color: steelblue;
  };
}

.separator:after{
    content: '';
    display: block;  
    line-height: 0px;
    height: 1px;
    width: 100%;
    border-top: 1px dashed $gray;
    margin-top: 5px;
};

.separatorb:before{
    content: '';
    display: block;  
    line-height: 0px;
    height: 1px;
    width: 100%;
    border-top: 1px dashed $gray;
    margin-bottom: 5px;
};

.separatorv{
  margin-right: 20px;
};
