/*
  File Overview:  Section styles.
  Authors:
    Ivan DiLernia <ivan@goinvo.com>
    Roger Zhu <roger@goinvo.com>
*/

/*
* Main container
*/
#avb-wrap {
  position: relative;
  margin-bottom: 10px;
  padding: 15px;
  padding-top: 10px;
  text-align: left;
  background-color: $white;

  @include box-shadow(0px 0px 10px $light-gray);
}

/*
* Component dimensions
* (chart, treemap, tables...)
*/

/*
* Defaults to > 1200px width
*/
.container {
  width: 1200px;
}

// chart
#chart-wrap{
  height: 250px;
}

// cards + legend
#info-wrap {
  height:  250px;
}

// lhs, rhs
#navigation-container,
#information-container {
  height: 600px;
}


/*
* Tablet Portait + Landscape
*/ 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  .container {
    width: 980px;
  }

  #chart-wrap {
    height: 220px;
  }

  #info-wrap {
    height: 250px;
  }

  #navigation-container,
  #information-container {
    height: 550px;  
  }

}









.introjs-tooltip{
  font-size: $text-big;
}

/*
* Separator class
*/
.separator:after{
    display:block;
    border:none;
    height:1px;
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#ccc), to(#fff));
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0));
};

/*
* Links
*/
.link {
  text-decoration: underline;
  cursor: pointer;
  color: black;

  &:hover{
    color: steelblue;
  };
}


/*
* Opendata section css
*/
.dataDownload{
    font-size: $text-big;
    line-height: $text-lineheight-big;
    margin-top: 10px;

    .icon-download{
      vertical-align: baseline;
    }
}

/*
* Glossary section css
*/
#avb-glossary{

  padding: 10px;

  .definition{
    margin-bottom: 20px;


    .title,
    .description{
      font-size: $text-big;
    }

    .title{
      font-weight: bold;
      color: #d63366;
    }

    .description{
      margin-left: 10px;
    }

  }
}

#footer {
  text-align:center;
  margin-bottom: 5px;
}
