/*
	File Overview:	Base scss definitions
	Authors:		Michael Bester,
					Ivan DiLernia, Roger Zhu
*/

/* Compass global imports */
@import "compass/css3";
@import "compass/reset/utilities";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities/general/clearfix";

/* Configure for target Browser Set
   Chrome, IE8+
============================================*/
$experimental-support-for-opera:		false;
$experimental-support-for-mozilla:		false;
$experimental-support-for-khtml:		false;

// font sizes
$text-title: 28px;
$text-big: 18px;
$text-small: 14px;
$text-bold: 500;

$text-lineheight-big: 28px;

// colors
$black: #333333;
$gray: #aaa;
$light-gray: #ccc;
$red: rgb(167, 103, 108);
$blue: rgb(87,118,162);
$white: #f9f9f9;

body {
	color: $black;
	font-family: 'Strait', sans-serif;
}