
.card {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 2%;

  &.top {
  	padding-top: 5px;
  }
}


/*
* Cards
*/
#cards {
	position:relative;
	width:100%;
	margin-top:15px;
	overflow:auto;
	cursor: default;

	.card-row{
		div:first-child .card{
			// padding-right:6%;
		}

		div:last-child .card{
			// padding-left:6%;
		}



		.card-img {
			float:left;
			img {
				display:block;
			}
		}

		.card-source{
			padding-left:0;
			padding-right:0;

			.cardvalue{
				//text-decoration: underline;
	  			cursor: pointer;
	  			display: block;
	  		}

			.cardvalue:hover{
				color:  steelblue;
			}
		}

		.carddesc{
			font-size: $text-big;
			line-height: 1.5em;
		}

		.cardvalue {
			font-size: $text-title;
			line-height:1em;
			font-family: 'Georgia';
		}
		
	}
}

#information-container{
  position: relative;
  padding-left: 5px;

	#info-wrap{
	  overflow:hidden; 
	  height:100%;
	}

	#cards-wrap{
		height: 100%;
		width:100%; 
		position:relative;
	}
}

#legend-wrap {
    position:absolute;
    height: 90%;
    left:-100%;
    overflow-y: auto;
    font-size: $text-big;
    line-height: 1.5em;

    .legend-label{
      width: 16px;
      height: 16px;
      border-radius: 8px;
    }

    tr :first-child {
      margin-right: 5px;
    }
  }
