/*
  File Overview: Cards and legend styles.
  Authors:
    Ivan DiLernia <ivan@goinvo.com>
    Roger Zhu <roger@goinvo.com>
*/

/*
* Cards & legend container
*/
#info-wrap{
	overflow:hidden; 
	height:100%;
	overflow-x: hidden;
	div{
	  cursor: pointer;
	}


	/*
	*	Cards/legend switcher
	*/
	.arrow{
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 20px;
		opacity: 0.1;
		background-color: #f1f1f1;

		i{
			position: absolute;
			top: 50%;
			left: 3px;
		}

		&:hover{
			opacity: 0.6;
		}
	}
	
}

/*
*	Legend
*/
#legend-wrap {
	position:absolute;
	height: 100%;
	width: 100%;
	left:-100%;
	font-size: $text-big;
	line-height: $text-lineheight-big;

	#legend-container{
		height: 100%;
		overflow-y: auto;
	}

	.legend-label{
	  width: 16px;
	  height: 16px;
	  border-radius: 8px;
	}

	tr :first-child {
	  margin-right: 5px;
	}
}

/*
*	Cards container
*/
#slider-wrap{
	height: 100%;
	width:100%; 
	overflow-x: hidden;
	position:relative;
	cursor: pointer;
}


/*
*	Cards
*/
#cards {
	position:relative;
	width:100%;
	margin-top:15px;
	overflow:auto;

	.card{
		padding: 10px 0px 10px 0px;

		&.top {
			padding-top: 5px;
		}
	}

	.card-desc{
		font-size: $text-big;
		line-height: $text-lineheight-big;
		color: gray;
	}

	.card-value {
		font-size: $text-title;
		line-height:$text-lineheight-big;
		font-family: 'Georgia';
	}

	.card-source{
		padding-left:0;
		padding-right:0;
		
		.card-value{
			text-decoration: underline;
			font-size:$text-big;
			cursor: pointer;
			display: block;
			color:  $blue;

		}

		.card-value:hover{
			color:  lighten($blue, 20%);
		}
	}
}


/*
* Tablet Portait + Landscape
*/ 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #cards{
    margin-top: 0px;
  }
}