  #chart-wrap {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    #chart {
      width: 100%;
      height: 100%;
    }
  }

  .line {
    fill: none;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-linecap: round;
    opacity : 0.6;

    &.projection{
      stroke-dasharray: 5, 5;
      stroke-linejoin: round;
      stroke-linecap: round;
    }
  }

  .browser{
  }

  .area {
    opacity: 0.2;

    &.projection{
      opacity: 0.1;
    }

  }

  .overflows{
    fill: #f9f9f9;
  }

  .browser text {
    text-anchor: end;
  }
  .axis {
    path, line {
      stroke: grey;
      stroke-width: 1;
      stroke-linejoin: round;
      stroke-linecap: round;
      shape-rendering: crispEdges;
    }
    text {
      font-family: 'Open Sans';
      font-size: 0.8em;
    }

    .odd {
      fill:none;
    }

    .thisYear {
      fill: black;
      font-weight: bold;
    }

    text {
      cursor: default;
    }
  }

  .multiarea {
    fill-opacity: 0.65;
  }
  .multiline {
    fill: none;
    stroke-width: 2px;
    opacity: 1;
  }
  .multiaxis path {
    stroke-width: 0;
    fill: none;
  }
  .multigrid {
    .tick {
      stroke: lightgrey;
      opacity: 0;
    }
    path {
      stroke-width: 1;
    }
  }

.layerSlider{
  stroke-width:2px;
  stroke: white;
  stroke-opacity:0.8;
  fill: white;
  fill-opacity: 1;
  filter:url(#ds2);


}

.layerLine{
  stroke:black;
  stroke-width: 1px;
  stroke-opacity: 0.0;
  filter:url(#ds);
  //clip-path: url(#rectClip);
    -webkit-filter: drop-shadow(-12px 12px 7px red);
}
