#avb-home{

  margin-top:10px;
  margin-bottom: 10px;

  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  -moz-box-shadow: 0px 0px 10px #888;
  -webkit-box-shadow: 0px 0px 10px #888;
  box-shadow: 0px 0px 10px #888;

  background-color: white;


  #home-img{
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  #home-content{
    width: 100%;
  }

}

.marketing {
  .span4 {
    text-align: center;
  }
  h2 {
    font-weight: normal;
  }
  .span4 p {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 979px) {
  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .carousel {
    .item {
      height: 500px;
    }
    img {
      width: auto;
      height: 500px;
    }
  }
}

@media (max-width: 767px) {
  .carousel {
    margin-left: -20px;
    margin-right: -20px;
    .container! {}
    .item, img {
      height: 300px;
    }
  }
  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-top: 100px;
    h1 {
      font-size: 30px;
    }
    .lead, .btn {
      font-size: 18px;
    }
  }
  .marketing .span4 + .span4 {
    margin-top: 40px;
  }
}