#avb-home, #overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

#avb-home{
  background-image: url(/img/bg_avb.png);
  z-index: 1010;
  border-bottom: 2px solid rgb(214,51,102);
  display: none;
}

#overlay{
  height: 100%;
  z-index: 1000;
  background-color: #000;
  opacity: 0.5;
  display: none;
}

#home-map{
  // display: none;
  display: inline-block; //---> default
  vertical-align: top;
  width: 38%;
  height: 220px;

  #home-map-svg{
    margin: 0 auto;
    width: 300px;
    height: 100%;
  }

  .node {
    // border: solid 3px $gray;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    padding: 10px;
    border-radius: 5px;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
    cursor: pointer;

    &:hover{
      opacity: 0.8;
    }
  }

}

// twitter bootstrap changes
// .hero-unit h1 {
//   margin-bottom: 0;
//   font-size: 60px;
//   line-height: 1;
//   letter-spacing: -1px;
//   color: inherit;
// }


#welcome{
  padding: 0px;
  margin-top: 70px;
  padding-top: 30px;
  display: inline-block;

  #welcome-hero{
    width: 60%; //----> DEFAULT
    // width: 75%;
    display: inline-block;
  }

  h1{
    font-size: 42px;
    color: #666;
    margin-bottom: 10px;
  }

  #tour-link{
    text-decoration: underline;
    cursor: pointer;
    color: black;
  }
}