#avb-menubar {
  // background-color:rgb(245, 245, 245);
  padding: 5px;
  padding-top: 10px;
  z-index: 1020;
  position: relative;
  margin-top: 2px;

  &.purple-border{
    border-top: 2px solid rgb(214,51,102);
    margin-top: 0px;
  }


  .nav{
    margin-bottom: 0px !important;
  }

  .entry{
    min-height: 0px !important;
    height: 100%;
    bottom: 0px;
    position: relative;
    height: 100%;

      .center-wrap{
          position: absolute;
          bottom: 0;

          &.centered{
            text-align: center;
            left:0;
            right: 0;
          }
      }
  }

  .menubutton {
    font-size: 1.2em;
    display: inline-block;

    &.selected {
      a{
        color: rgb(219, 78, 134);
      }
    }

    .caret{
      border-top-color: $black;
      border-bottom-color: $black;
    }


    a{
      font-size: 1em;
      color: $black;
    }

    i{
      vertical-align: baseline;
    }

    &.margin{
      margin-right: 20px;
    }

  }
}

#yeardrop-container{

  &.open{

  }

  min-width: 100px;
  a {
    padding-left: 20px;

    b{
      float: right;
      margin-right: 5px;
      vertical-align: baseline;
    }
  }
  .dropdown-menu{
    min-width: 100px;
    border-radius: 0px;
  }
}


#home-button {
    div{
      cursor: pointer;
    }
}