#avb-menubar {
  border-bottom: 1px solid $gray;
  background-color:rgb(245, 245, 245);
  padding: 5px;

  .menubutton {

    margin-top:10px;
    display: inline-block;

    .caret{
      border-top-color: $black;
      border-bottom-color: $black;
    }

    a{
      font-size: 1em;
      color: $black;
    }

    i{
      margin-top:4px;
    }

    &.margin{
      margin-right: 20px;
    }

  }
}

.centered{
  text-align: center;
}

#home-button {
    div{
      cursor: pointer;
    }
}