
#navigation{
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    position: relative;
  
    text {
    pointer-events: none;
    height:88%;
    width:100%;
  }

  rect {
    fill: none;
    stroke: #fff;
  }

  text{
    font-size:1.2em;
  }

  svg{
    overflow: hidden;
  }


  rect.parent,
  .grandparent rect {
    stroke-width: 4px;
  }

  .grandparent rect {
    fill: #f9f9f9;
    stroke:none;
  }

  .child rect {
    stroke-opacity: 1.0;
  }

  rect.parent {
    opacity: 0.6;
  }

  .children:hover rect.parent,
  .grandparent:hover rect {
    opacity: 1.0;
  }

  .children {
    cursor: pointer;


      &.no-label {
      .titleLabel{
        display: none;
      }

      .valueLabel{
        display: none;
      }

      text{
        display: none;
      }
    }

    &.no-value{
      .valueLabel{
        display: none;
      }
    }
  }


  .textdiv { /* text in the boxes */
    padding: 8px;
    font-family: "Open Sans", sans-serif;;

    .titleLabel,
    .valueLabel {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .titleLabel {
    }

    .valueLabel {
      font-size: $text-big;

    }
  }
}

#zoombutton{
    float: right;
  }

.popover {
  z-index: 1050;
}

#ie-popover{
  z-index: 1050;
  background-color: rgba(0,0,0,0.5);
  display: none;
  position: absolute;
  width: 150px;
  height: 50px;
  margin-top: -58px;
  border-radius: 5px;

  .arrow{
    z-index: 1050;
    position: absolute;
    width: 0; 
    height: 0; 
    left: 65px;
    top: 50px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(0,0,0,0.5);
  }

  .text{
    color: white;
    padding: 5px;
  }

}