#avb-menubar {
  // background-color:rgb(245, 245, 245);

  font-size: $text-big;
  padding: 15px 5px 15px 5px;
  z-index: 1050;
  padding-top: 2px;
  border-top: 2px solid rgb(214,51,102);
  // removes loading jump
  max-height: 60px;


  .container{
    margin-top: 5px;
  }

  &.purple-border{
    border-top: 2px solid rgb(214,51,102);
  }

  .navbar-margin{
      margin-left: 90px;
  }

  .nav{
    margin-bottom: 0px !important;
  }

  .entry{
    display: inline-block;
    position: relative;
  }

  .homebutton,
  .menubutton {
    cursor: pointer;
    position: relative;
    z-index: 1050;
    color: $black;
  }

  .search {
    border-radius: 5px;
    border: 1px solid rgb(194,194,194);
    font-family: 'Strait', sans-serif;
    vertical-align: top;
  }

  .menubutton {
    display: inline-block;

    &.selected {
      a{
        color: rgb(219, 78, 134);
      }
    }

    .caret{
      border-top-color: $black;
      border-bottom-color: $black;
    }

    a{
      color: $black;
    }

    i{
      vertical-align: baseline;
    }

    &.margin{
      margin-right: 20px;
    }

  }
}

#yeardrop-container{
  vertical-align: top;

  &.open{

  }

  min-width: 100px;
  a {
    padding-left: 20px;

    b{
      float: right;
      margin-right: 5px;
      vertical-align: baseline;
    }
  }
  .dropdown-menu{
    min-width: 100px;
    border-radius: 0px;
  }
}

