/*
	File Overview:	Basic structural styles.
	Author:			Michael Bester
*/

html {
	margin-bottom: 1px;
}

body {
	@include reset-box-model;
	background: $page-background-color;
	// -moz-user-select: none;
	// -khtml-user-select: none;
	// -webkit-user-select: none;
	// user-select: none;
	background-image: url(/img/bg_avb.png);
  height: 100%;
  min-height: 100%;
}


/*
* Window sizes
*/

/*
* Defaults to > 1200px width (>2013)
*/
.container {
  width: 1200px;
}

#avb-body {

  #information-container{


    #chart-wrap {
      height:  250px;
    }

    #info-wrap {
      height: 250px;
    }
  }

  #navigation-container,
  #information-container {
    height: 600px;
    position: relative;  
  }

  #navigation {
    height:88%;
    width:100%;
  }

}


#vdivider{
  left:280px;
}



/*
* Ipad Portait + Landscape
*/ 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  body, html {
    font-size: 12px;
  }

  h1{
    font-size: 2.5em !important;
  }

  .container {
    width: 980px;
  }

  #avb-menubar{

    padding: 15px 5px 15px 5px;

    .navbar-margin{
      margin-left: 30px;
    }

    .modename{
      display: none;
    }
  }

  #avb-body {

    #information-container{

      #chart-wrap {
        height: 220px;
      }

      #info-wrap {
        height: 250px;
      }
    }

    #cards{
      margin-top: 0px;
    }

    #navigation-container,
    #information-container {
      height: 550px;  
    }
  }
}

#footer {
  text-align:center;
  margin-bottom: 5px;
}




.group {
	@include pie-clearfix;
}
