/*
	File Overview:	Basic structural styles.
	Authors:
    Ivan DiLernia <ivan@goinvo.com>
    Roger Zhu <roger@goinvo.com>
*/

html{
    min-height: 100%;
    position: relative;
}

body {
	@include reset-box-model;
	background-image: url(/img/bg_avb.png);
  height: 100%;
}

/*
* Window sizes
*/

/*
* Defaults to > 1200px width
*/
.container {
  width: 1200px;
}

#avb-body {

  #information-container{
    #chart-wrap {
      height:  250px;
    }

    #info-wrap {
      height: 250px;
    }
  }

  #navigation-container,
  #information-container {
    height: 600px;
    position: relative;  
  }

}


/*
* Ipad Portait + Landscape
*/ 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  body, html {
    font-size: 12px;
  }

  h1{
    font-size: 2.5em !important;
  }

  .container {
    width: 980px;
  }

  #avb-menubar{

    padding: 15px 5px 15px 5px;

    .navbar-margin{
      margin-left: 30px;
    }

    .modename{
      display: none;
    }
  }

  #avb-body {

    #information-container{

      #chart-wrap {
        height: 220px;
      }

      #info-wrap {
        height: 250px;
      }
    }

    #cards{
      margin-top: 0px;
    }

    #navigation-container,
    #information-container {
      height: 550px;  
    }
  }
}

