/*
	File Overview:	Basic structural styles.
	Author:			Michael Bester
*/

html {
	min-height: 100%;
	margin-bottom: 1px;
}

body {
	@include reset-box-model;
	background: $page-background-color;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	background-image: url(/img/debut_light.png);
}


/*
* Window sizes
*/

/*
* Defaults to > 1200px width (>2013)
*/
.container {
  width: 1200px;
}

#avb-body {
  #avb-wrap {

    #bottom-wrap{
          margin-top: 10px;
          height: 250px;
    }
  }
  #chart {
        height: 220px;
  }

  #navigation-container {
    height: 450px;  }
}

#simplemodal-container {
  height:600px;
  width: 1200px;
}

#vdivider{
  left:280px;
}


/*
* Ipad Portait + Landscape
*/ 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  body, html {
    font-size: 12px;
  }

  #vdivider{
    left:250px;
  }

  .container {
    width: 980px;
  }
  #avb-body {

    #avb-wrap {
      padding-bottom: 0px;
    }

    #bottom-wrap{
      height: 200px;
    }

    #chart {
      height: 200px;
    }

    #navigation-container {
      height: 400px;
    }
  }

  #simplemodal-container {
    height:500px;
    width: 900px;
  }

}

#footer {
  text-align:center;
  margin-bottom: 5px;
}




.group {
	@include pie-clearfix;
}
