
.group{
	display: none;
}

.tablerow{
	height: 40px;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid $gray;
	font-size: $text-big;
	line-height: 40px;

	&:hover{
		background-color: rgb(235,235,235);
	}

	&.atomic .expand-icon{
		display: none;
	}

	&.expanded .sum{

	}
}

.tablerow:last-child{
	border-bottom: 0px;
}

.popover{
	max-width: 350px;
	line-height: 1.2em;
}

#table-header:hover{
	background-color: transparent;
	cursor: default;
}

.value, .bullet{
	display: inline-block;
}

.bullet, .sparkline{
	vertical-align: bottom;
}


.value{
	text-align: center;
	width: 150px;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;




	&.long{
		width: 300px;
	}

	&.textleft{
		text-align: left;
	}

	&.numeric{
		font-family: 'Georgia'
	}

	&.head{
		font-weight: $text-bold;
	}
}


.bullet{
	width: 20px;
	vertical-align: top;
}

.sparkline{
	.line{
		stroke-width: 1px;
	}
	line-height: 0px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.value {
		width: 100px;

		&.long {
			width: 250px;
		}
	}

}



