/*
  File Overview:  Table styles.
  Authors:
    Ivan DiLernia <ivan@goinvo.com>
    Roger Zhu <roger@goinvo.com>
*/

.group{
	display: none;
}

// don't select table header
#table-header{
	&:hover{
		background-color: transparent;
		cursor: default;
	}

	div{
		margin-left: -4px;
	}

}

/*
*	Row styles
*/
.tablerow{
	height: 40px;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid $gray;
	font-size: $text-big;
	line-height: 40px;

	&:hover{
		background-color: rgb(235,235,235);
	}

	&.atomic .expand-icon{
		display: none;
	}

	&:last-child{
		border-bottom: 0;
	}

	.value{
		text-align: center;
		width: 150px;
		white-space: nowrap;
		text-overflow:ellipsis;
		overflow: hidden;
		display: inline-block;

		&.long{
			width: 300px;
		}

		&.textleft{
			text-align: left;
		}

		&.numeric{
			font-family: 'Georgia'
		}

		&.head{
			font-weight: $text-bold;
		}
	}

	.bullet, .sparkline{
		vertical-align: bottom;
	}

	.bullet{
		width: 20px;
		vertical-align: top;
		display: inline-block;
	}

	.sparkline{
		.line{
			stroke-width: 1px;
		}
		line-height: 0px;
	}

}

.popover{
	max-width: 350px;
	line-height: 1.2em;
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	
	.tablerow {
		.value {
			width: 120px;
			// background: black;

			&.long {
				width: 220px;
			}

			&.parent{
				width: 150px;
			}
		}
	}

}



