/*
  File Overview:  Treemap styles.
  Authors:
    Ivan DiLernia <ivan@goinvo.com>
    Roger Zhu <roger@goinvo.com>
*/

#navigation{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  position: relative;
  height:88%;
  width:100%;

  svg{
    overflow: hidden;
  }


  /*
  * Zones
  */
  rect {
    fill: none;
    stroke: #fff;
  }

  text{
    font-size:1.2em;
  }

  rect.parent,
  .grandparent rect {
    stroke-width: 4px;
  }

  rect.parent {
    opacity: 0.6;
  }

  .children:hover rect.parent,
  .grandparent:hover rect {
    opacity: 1.0;
  }

  .children {
    cursor: pointer;

    &.no-label {
      .titleLabel{
        display: none;
      }

      .valueLabel{
        display: none;
      }

      text{
        display: none;
      }
    }

    &.no-value{
      .valueLabel{
        display: none;
      }
    }
  }

  /*
  * Labels
  */
  .textdiv {
    padding: 8px;
    font-family: 'Strait', sans-serif;

    .titleLabel,
    .valueLabel {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

}


/*
* Back button
*/
#zoombutton{
  width:120px;
  font-family: 'Strait', sans-serif;
  float: right;
  font-size: 18px;

  i{
    vertical-align: top;
    margin-right: 5px;
  }
}

.popover {
  z-index: 2030;
  font-size: $text-big;
}


/*
* IE only
*/
#ie-popover{
  z-index: 2030;
  background-color: rgba(0,0,0,0.5);
  display: none;
  position: absolute;
  border-radius: 5px;

  .arrow{
    z-index: 1050;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(0,0,0,0.5);
  }

  .text{
    color: white;
    padding: 5px;
  }

  .popover-title{
    color: white;
    padding: 5px;
  }

}
