/*
	File Overview:	Basic type styles.
	Author:			Michael Bester
*/

@include establish-baseline();




$text-title: 28px;
$text-big: 18px;
$text-small: 14px;
$text-bold: 500;

$text-lineheight-big: 28px;

$black: #333333;
$gray: #aaaaaa;
$red: rgb(167, 103, 108);
$blue: rgb(87,118,162);
$white: rgb(220, 223, 222);

body {
	color: $black;
	font-family: 'Strait', sans-serif;

}

h1 {
	@include adjust-font-size-to($base-font-size * 2);
}

h2 {
	@include adjust-font-size-to(22px);
}

h3 {
	@include adjust-font-size-to(20px);

}

h4 {
	@include adjust-font-size-to(18px);
}

