/*
	File Overview:	Basic type styles.
	Author:			Michael Bester
*/

@include establish-baseline();

body {
	color: $base-font-color;
	font-family: 'Helvetica Neue LT Std', sans-serif;

}

$text-title: 2.4em;
$text-big: 1.3em;
$text-small: 0.8em;
$text-bold: 500;

$black: #333333;
$gray: #aaaaaa;
$red: rgb(167, 103, 108);
$blue: rgb(87,118,162);
$white: rgb(220, 223, 222);

h1 {
	@include adjust-font-size-to($base-font-size * 2);
}

h2 {
	@include adjust-font-size-to(22px);
}

h3 {
	@include adjust-font-size-to(20px);

}

h4 {
	@include adjust-font-size-to(18px);
}

