/*
	File Overview:	Global SCSS
	Author:			Michael Bester
	Description:	Includes all styles for primary styles for the site.
*/
/*
	File Overview:	Base scss definitions
	Authors:		Michael Bester,
					Ivan DiLernia, Roger Zhu
*/
/* Compass global imports */
/* Configure for target Browser Set
   Chrome, IE8+
============================================*/
/*
*	Fonts
*/
/*
*	Colors
*/
/*
*	Page
*/
/* line 44, ../../scss/partials/_base.scss */
html {
  min-height: 100%;
  position: relative;
}

/* line 49, ../../scss/partials/_base.scss */
body {
  color: #333333;
  font-family: 'Strait', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url(../img/bg_avb.png);
  height: 100%;
}

/* line 58, ../../scss/partials/_base.scss */
p {
  vertical-align: top;
}

/*
* Tablet Portait + Landscape
*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 66, ../../scss/partials/_base.scss */
  body, html {
    font-size: 12px;
  }
}
/*
  File Overview:  Section styles.
  Authors:
    Ivan DiLernia <ivan@goinvo.com>
    Roger Zhu <roger@goinvo.com>
*/
/*
* Main container
*/
/* line 11, ../../scss/partials/_avb.scss */
#avb-wrap {
  position: relative;
  margin-bottom: 50px;
  padding: 15px;
  padding-top: 10px;
  text-align: left;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px 0px 10px #cccccc;
  box-shadow: 0px 0px 10px #cccccc;
  z-index: 3;
}

/*
* Component dimensions
* (chart, treemap, tables...)
*/
/*
* Defaults to > 1200px width
*/
/* line 30, ../../scss/partials/_avb.scss */
.container {
  width: 1200px;
}

/* line 35, ../../scss/partials/_avb.scss */
#chart-wrap {
  height: 250px;
}

/* line 40, ../../scss/partials/_avb.scss */
#info-wrap {
  height: 250px;
}

/* line 46, ../../scss/partials/_avb.scss */
#navigation-container,
#information-container {
  height: 600px;
  overflow: hidden;
}

/*
* Tablet Portait + Landscape
*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 56, ../../scss/partials/_avb.scss */
  .container {
    width: 980px;
  }

  /* line 60, ../../scss/partials/_avb.scss */
  #chart-wrap {
    height: 220px;
  }

  /* line 64, ../../scss/partials/_avb.scss */
  #info-wrap {
    height: 250px;
  }

  /* line 69, ../../scss/partials/_avb.scss */
  #navigation-container,
  #information-container {
    height: 550px;
  }
}
/* line 83, ../../scss/partials/_avb.scss */
.introjs-tooltip {
  font-size: 18px;
}

/*
* Separator class
*/
/* line 90, ../../scss/partials/_avb.scss */
.separator:after {
  display: block;
  border: none;
  height: 1px;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#cccccc), to(white));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

/*
* Links
*/
/* line 104, ../../scss/partials/_avb.scss */
#footer.menu li {
  display: inline;
  list-style: none;
  font-size: 17px;
  padding: 0 8px;
}

#footer.menu a {
  text-decoration: underline;
  cursor: pointer;
  color: black;
}
/* line 109, ../../scss/partials/_avb.scss */
#footer.menu a:hover {
  color: steelblue;
}

/*
* Opendata section css
*/
/* line 118, ../../scss/partials/_avb.scss */
.dataDownload {
  font-size: 18px;
  line-height: 28px;
  margin-top: 10px;
}
/* line 123, ../../scss/partials/_avb.scss */
.dataDownload .icon-download {
  vertical-align: baseline;
}

/*
* Glossary section css
*/
/* line 131, ../../scss/partials/_avb.scss */
#avb-glossary {
  padding: 10px;
}
/* line 135, ../../scss/partials/_avb.scss */
#avb-glossary .definition {
  margin-bottom: 20px;
}
/* line 140, ../../scss/partials/_avb.scss */
#avb-glossary .definition .title,
#avb-glossary .definition .description {
  font-size: 18px;
}
/* line 144, ../../scss/partials/_avb.scss */
#avb-glossary .definition .title {
  font-weight: bold;
  color: #d63366;
}
/* line 149, ../../scss/partials/_avb.scss */
#avb-glossary .definition .description {
  margin-left: 10px;
}

/* line 156, ../../scss/partials/_avb.scss */
#footer {
  text-align: center;
  margin-bottom: 5px;
}

/*
  File Overview:  Homepage styles.
  Authors:
    Ivan DiLernia <ivan@goinvo.com>
    Roger Zhu <roger@goinvo.com>
*/
/* line 8, ../../scss/partials/_home.scss */
#avb-home, #overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

/* line 15, ../../scss/partials/_home.scss */
#avb-home {
  background: white;
  z-index: 1010;
  border-bottom: 2px solid #d63366;
  display: none;
}

/* line 22, ../../scss/partials/_home.scss */
#overlay {
  height: 100%;
  z-index: 1000;
  background-color: #000;
  opacity: 0.5;
  display: none;
}

/*
*   Homepage hero unit
*/
/* line 33, ../../scss/partials/_home.scss */
.hero-unit {
  padding: 30px;
  line-height: 28px;
  background: white;
}

.hero-unit p{
  font-size: 18px;
}
/* line 38, ../../scss/partials/_home.scss */
.hero-unit #welcome-hero {
  width: 70%;
  display: inline-block;
  vertical-align: top;
}
/* line 44, ../../scss/partials/_home.scss */
.hero-unit h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

/* line 50, ../../scss/partials/_home.scss */
#tax-input {
  width: 100px;
  font-family: 'Strait', sans-serif;
}

/* line 56, ../../scss/partials/_home.scss */
#home-col1,
#home-col2 {
  width: 46%;
  vertical-align: top;
}

/*
* Bars CSS
*/
/* line 65, ../../scss/partials/_home.scss */
#home-col3 {
  display: inline-block;
  vertical-align: top;
  height: 200px;
}
/* line 70, ../../scss/partials/_home.scss */
#home-col3 #home-map-svg {
  margin: 0 auto;
  width: 29%;
  height: 100%;
}
/* line 76, ../../scss/partials/_home.scss */
#home-col3 .node {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  text-align: center;
  position: absolute;
  cursor: pointer;
  bottom: 0px;
}
/* line 85, ../../scss/partials/_home.scss */
#home-col3 .node .node-bar {
  display: inline-block;
  width: 85px;
  overflow: hidden;
  border-radius: 5px;
}
/* line 91, ../../scss/partials/_home.scss */
#home-col3 .node .node-bar .node-value {
  display: none;
  position: absolute;
  bottom: 10px;
  color: white;
  right: 0;
  left: 0;
}
/* line 101, ../../scss/partials/_home.scss */
#home-col3 .node:hover {
  opacity: 0.8;
}

/*
* Tablet Portait + Landscape
*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 114, ../../scss/partials/_home.scss */
  h1 {
    font-size: 2.5em !important;
  }

  /* line 118, ../../scss/partials/_home.scss */
  #home-col1 {
    width: 50%;
  }

  /* line 122, ../../scss/partials/_home.scss */
  #home-col2 {
    width: 42%;
  }

  /* line 127, ../../scss/partials/_home.scss */
  #tax-input {
    width: 80px;
  }
}
/*
  File Overview: Chart styles.
  Authors:
    Ivan DiLernia <ivan@goinvo.com>
    Roger Zhu <roger@goinvo.com>
*/
/*
* Container
*/
/* line 11, ../../scss/partials/_chart.scss */
#chart-wrap {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
/* line 18, ../../scss/partials/_chart.scss */
#chart-wrap #chart {
  height: 100%;
}

/*
* Lines
*/
/* line 27, ../../scss/partials/_chart.scss */
.line {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-linecap: round;
  opacity: 0.6;
}
/* line 34, ../../scss/partials/_chart.scss */
.line.projection {
  stroke-dasharray: 5, 5;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/*
* Areas
*/
/* line 44, ../../scss/partials/_chart.scss */
.area {
  opacity: 0.2;
}
/* line 47, ../../scss/partials/_chart.scss */
.area.projection {
  opacity: 0.1;
}

/* line 52, ../../scss/partials/_chart.scss */
.overflows {
  fill: #f9f9f9;
}

/*
* Axis
*/
/* line 60, ../../scss/partials/_chart.scss */
.axis path, .axis line {
  stroke: #7a7a7a;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-linecap: round;
}
/* line 67, ../../scss/partials/_chart.scss */
.axis text {
  font-family: 'Strait', sans-serif;
  font-size: 12px;
}
/* line 72, ../../scss/partials/_chart.scss */
.axis .odd {
  fill: none;
}
/* line 76, ../../scss/partials/_chart.scss */
.axis .thisYear {
  fill: black;
  font-weight: bold;
}
/* line 81, ../../scss/partials/_chart.scss */
.axis text {
  cursor: default;
}

/*
* Layers
*/
/* line 90, ../../scss/partials/_chart.scss */
.multiarea {
  fill-opacity: 0.65;
}

/* line 93, ../../scss/partials/_chart.scss */
.multiline {
  fill: none;
  stroke-width: 2px;
  opacity: 1;
}

/* line 98, ../../scss/partials/_chart.scss */
.multiaxis path {
  stroke-width: 0;
  fill: none;
}

/* line 103, ../../scss/partials/_chart.scss */
.multigrid .tick {
  stroke: lightgray;
  opacity: 0;
}
/* line 107, ../../scss/partials/_chart.scss */
.multigrid path {
  stroke-width: 1;
}

/* line 112, ../../scss/partials/_chart.scss */
.layerLine, .sideShadow {
  box-shadow: -3px 0px 8px black;
  margin-left: 10px;
}

/*
  File Overview: Cards and legend styles.
  Authors:
    Ivan DiLernia <ivan@goinvo.com>
    Roger Zhu <roger@goinvo.com>
*/
/*
* Section title and description
*/
/* line 11, ../../scss/partials/_cards.scss */
.title-head {
  font-size: 18px;
  white-space: nowrap;
  font-size: 28px;
}
/* line 15, ../../scss/partials/_cards.scss */
.title-head div {
  line-height: 50px;
}
/* line 19, ../../scss/partials/_cards.scss */
.title-head .description {
  display: inline-block;
  font-size: 18px;
  width: 400px;
  margin-left: 20px;
  line-height: normal;
  white-space: normal;
}

.title-head .text {
  font-size: 29px;
  border-bottom: 1px dashed rgb(119, 119, 119);
  padding-top: 10px;
}


/*
* Cards & legend container
*/
/* line 33, ../../scss/partials/_cards.scss */
#info-wrap {
  overflow: hidden;
  height: 100%;
  overflow-x: hidden;
  /*
  *	Cards/legend switcher
  */
}
/* line 37, ../../scss/partials/_cards.scss */
#info-wrap div {
  cursor: pointer;
}
/* line 45, ../../scss/partials/_cards.scss */
#info-wrap .arrow {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 20px;
  opacity: 0.1;
  background-color: #f1f1f1;
}
/* line 54, ../../scss/partials/_cards.scss */
#info-wrap .arrow i {
  position: absolute;
  top: 50%;
  left: 3px;
}
/* line 60, ../../scss/partials/_cards.scss */
#info-wrap .arrow:hover {
  opacity: 0.6;
}

/*
*	Legend
*/
/* line 70, ../../scss/partials/_cards.scss */
#legend-wrap {
  position: absolute;
  width: 100%;
  left: -100%;
  font-size: 18px;
  line-height: 28px;
}
/* line 78, ../../scss/partials/_cards.scss */
#legend-wrap #legend-container {
  height: 100%;
  overflow-y: auto;
}
/* line 83, ../../scss/partials/_cards.scss */
#legend-wrap .legend-label {
  width: 16px;
  height: 16px;
  border-radius: 8px;
}
/* line 89, ../../scss/partials/_cards.scss */
#legend-wrap tr :first-child {
  margin-right: 5px;
}

/*
*	Cards container
*/
/* line 97, ../../scss/partials/_cards.scss */
#slider-wrap {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  cursor: pointer;
}

/*
*	Cards
*/
/* line 109, ../../scss/partials/_cards.scss */
#cards {
  position: relative;
  width: 100%;
  margin-top: 15px;
  overflow: auto;
}
/* line 115, ../../scss/partials/_cards.scss */
#cards .card {
  padding: 10px 0px 10px 0px;
}
/* line 118, ../../scss/partials/_cards.scss */
#cards .card.top {
  padding-top: 5px;
}
/* line 123, ../../scss/partials/_cards.scss */
#cards .card-desc {
  font-size: 18px;
  line-height: 28px;
  color: gray;
}
/* line 129, ../../scss/partials/_cards.scss */
#cards .card-value {
  font-size: 28px;
  line-height: 28px;
  font-family: 'Georgia';
}
/* line 135, ../../scss/partials/_cards.scss */
#cards .card-source {
  padding-left: 0;
  padding-right: 0;
}
/* line 139, ../../scss/partials/_cards.scss */
#cards .card-source .card-value {
  text-decoration: underline;
  font-size: 18px;
  cursor: pointer;
  display: block;
  color: #5776a2;
}
/* line 148, ../../scss/partials/_cards.scss */
#cards .card-source .card-value:hover {
  color: #98abc7;
}

/*
* Tablet Portait + Landscape
*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 159, ../../scss/partials/_cards.scss */
  #cards {
    margin-top: 0px;
  }
}
/*
  File Overview: Navbar styles.
  Authors:
    Ivan DiLernia <ivan@goinvo.com>
    Roger Zhu <roger@goinvo.com>
*/
/* line 8, ../../scss/partials/_navbar.scss */
#avb-menubar {
  font-size: 18px;
  padding: 15px 5px 15px 5px;
  z-index: 400;
  padding-top: 2px;
  max-height: 60px;
  position: relative;
  /*
  * Links
  */
  /*
  * Search box
  */
}
/* line 17, ../../scss/partials/_navbar.scss */
#avb-menubar.purple-border {

}
/* line 21, ../../scss/partials/_navbar.scss */
#avb-menubar .container {
  margin-top: 5px;
}
/* line 25, ../../scss/partials/_navbar.scss */
#avb-menubar .navbar-margin {

}
/* line 29, ../../scss/partials/_navbar.scss */
#avb-menubar .nav {
  margin-bottom: 0px !important;
}
/* line 33, ../../scss/partials/_navbar.scss */
#avb-menubar .entry {
  display: inline-block;
  position: relative;
}
/* line 43, ../../scss/partials/_navbar.scss */
#avb-menubar .homebutton,
#avb-menubar .menubutton {
  cursor: pointer;
  position: relative;
  z-index: 1050;
  color: #333333;
  display: inline-block;
}
/* line 53, ../../scss/partials/_navbar.scss */
#avb-menubar .menubutton.selected a {
  color: #db4e86;
}
/* line 57, ../../scss/partials/_navbar.scss */
#avb-menubar .menubutton .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
/* line 62, ../../scss/partials/_navbar.scss */
#avb-menubar .menubutton a {
  color: #333333;
}
/* line 66, ../../scss/partials/_navbar.scss */
#avb-menubar .menubutton i {
  vertical-align: baseline;
}
/* line 70, ../../scss/partials/_navbar.scss */
#avb-menubar .menubutton.margin {
  margin-right: 20px;
}
/* line 78, ../../scss/partials/_navbar.scss */
#avb-menubar .search {
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  font-family: 'Strait', sans-serif;
  vertical-align: top;
}

/*
* Year selector
*/
/* line 90, ../../scss/partials/_navbar.scss */
.yeardrop-container {
  vertical-align: top;
  min-width: 100px;
}
/* line 98, ../../scss/partials/_navbar.scss */
.yeardrop-container a {
  padding-left: 20px;
}
/* line 101, ../../scss/partials/_navbar.scss */
.yeardrop-container a b {
  float: right;
  margin-right: 5px;
  vertical-align: baseline;
}
/* line 107, ../../scss/partials/_navbar.scss */
.yeardrop-container .dropdown-menu {
  min-width: 100px;
  border-radius: 0px;
}

.yeardrop-label {
  padding: 5px 5px 5px 20px
}

.yeardrop-label .caret {
  margin-top: 12px !important;
}

/*
* Tablet Portait + Landscape
*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 117, ../../scss/partials/_navbar.scss */
  #avb-menubar {
    padding: 15px 5px 15px 5px;
  }
  /* line 121, ../../scss/partials/_navbar.scss */
  #avb-menubar .navbar-margin {
    margin-left: 30px;
  }
  /* line 125, ../../scss/partials/_navbar.scss */
  #avb-menubar .modename {
    display: none;
  }
}
/*
  File Overview:  Table styles.
  Authors:
    Ivan DiLernia <ivan@goinvo.com>
    Roger Zhu <roger@goinvo.com>
*/
/* line 8, ../../scss/partials/_table.scss */
.group {
  display: none;
}

/* line 15, ../../scss/partials/_table.scss */
#table-header:hover {
  background-color: transparent;
  cursor: default;
}
/* line 20, ../../scss/partials/_table.scss */
#table-header div {
  margin-left: -4px;
}

/*
*	Row styles
*/
/* line 29, ../../scss/partials/_table.scss */
.tablerow {
  height: 40px;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaaaaa;
  font-size: 18px;
  line-height: 40px;
}
/* line 39, ../../scss/partials/_table.scss */
.tablerow.atomic .expand-icon {
  display: none;
}
/* line 43, ../../scss/partials/_table.scss */
.tablerow:last-child {
  border-bottom: 0;
}
/* line 47, ../../scss/partials/_table.scss */
.tablerow .value {
  text-align: center;
  width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}
/* line 55, ../../scss/partials/_table.scss */
.tablerow .value.long {
  width: 300px;
}
/* line 59, ../../scss/partials/_table.scss */
.tablerow .value.textleft {
  text-align: left;
}
/* line 63, ../../scss/partials/_table.scss */
.tablerow .value.numeric {
  font-family: "Georgia";
}
/* line 67, ../../scss/partials/_table.scss */
.tablerow .value.head {
  font-weight: 500;
}
/* line 71, ../../scss/partials/_table.scss */
.tablerow .value.maplink {
  width: 40px;
  opacity: 0.1;
}
/* line 77, ../../scss/partials/_table.scss */
.tablerow:hover {
  background-color: #ebebeb;
}
/* line 80, ../../scss/partials/_table.scss */
.tablerow:hover .value.maplink {
  opacity: 0.8;
}
/* line 85, ../../scss/partials/_table.scss */
.tablerow .bullet, .tablerow .sparkline {
  vertical-align: bottom;
}
/* line 89, ../../scss/partials/_table.scss */
.tablerow .bullet {
  width: 20px;
  vertical-align: top;
  display: inline-block;
}
/* line 95, ../../scss/partials/_table.scss */
.tablerow .sparkline {
  line-height: 0px;
}
/* line 96, ../../scss/partials/_table.scss */
.tablerow .sparkline .line {
  stroke-width: 1px;
}
/* line 102, ../../scss/partials/_table.scss */
.tablerow .sparkline svg rect {
  fill: white;
  opacity: 0.001;
}

/* line 113, ../../scss/partials/_table.scss */
.popover {
  max-width: 350px;
  line-height: 1.2em;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 122, ../../scss/partials/_table.scss */
  .tablerow .value {
    width: 120px;
  }
  /* line 126, ../../scss/partials/_table.scss */
  .tablerow .value.long {
    width: 220px;
  }
  /* line 130, ../../scss/partials/_table.scss */
  .tablerow .value.parent {
    width: 150px;
  }
}
/*
  File Overview:  Treemap styles.
  Authors:
    Ivan DiLernia <ivan@goinvo.com>
    Roger Zhu <roger@goinvo.com>
*/
/* line 8, ../../scss/partials/_treemap.scss */
#navigation {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  height: 88%;
  width: 100%;
  /*
  * Zones
  */
  /*
  * Labels
  */
}
/* line 14, ../../scss/partials/_treemap.scss */
#navigation svg {
  overflow: hidden;
}
/* line 22, ../../scss/partials/_treemap.scss */
#navigation rect {
  fill: none;
  stroke: #fff;
}
/* line 27, ../../scss/partials/_treemap.scss */
#navigation text {
  font-size: 1.2em;
}
/* line 32, ../../scss/partials/_treemap.scss */
#navigation rect.parent,
#navigation .grandparent rect {
  stroke-width: 4px;
}
/* line 36, ../../scss/partials/_treemap.scss */
#navigation rect.parent {
  opacity: 0.6;
}
/* line 41, ../../scss/partials/_treemap.scss */
#navigation .children:hover rect.parent,
#navigation .grandparent:hover rect {
  opacity: 1.0;
}
/* line 45, ../../scss/partials/_treemap.scss */
#navigation .children {
  cursor: pointer;
}
/* line 49, ../../scss/partials/_treemap.scss */
#navigation .children.no-label .titleLabel {
  display: none;
}
/* line 53, ../../scss/partials/_treemap.scss */
#navigation .children.no-label .valueLabel {
  display: none;
}
/* line 57, ../../scss/partials/_treemap.scss */
#navigation .children.no-label text {
  display: none;
}
/* line 63, ../../scss/partials/_treemap.scss */
#navigation .children.no-value .valueLabel {
  display: none;
}
/* line 72, ../../scss/partials/_treemap.scss */
#navigation .textdiv {
  padding: 8px;
  font-family: 'Strait', sans-serif;
}
/* line 77, ../../scss/partials/_treemap.scss */
#navigation .textdiv .titleLabel,
#navigation .textdiv .valueLabel {
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
* Back button
*/
/* line 89, ../../scss/partials/_treemap.scss */
#zoombutton {
  width: 120px;
  font-family: 'Strait', sans-serif;
  float: right;
  font-size: 18px;
}
/* line 95, ../../scss/partials/_treemap.scss */
#zoombutton i {
  vertical-align: top;
  margin-right: 5px;
}

/* line 101, ../../scss/partials/_treemap.scss */
.popover {
  z-index: 2030;
  font-size: 18px;
}

/*
* IE only
*/
/* line 110, ../../scss/partials/_treemap.scss */
#ie-popover {
  z-index: 2030;
  width: 180px;
  min-width: 150px;
  min-height: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: absolute;
  border-radius: 5px;
}
/* line 120, ../../scss/partials/_treemap.scss */
#ie-popover .arrow {
  z-index: 1050;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.6);
}
/* line 132, ../../scss/partials/_treemap.scss */
#ie-popover .text {
  color: white;
  position: relative;
  display: block;
  padding: 5px;
}

#ie-popover .popover-title {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  position: relative;
  display: block;
  padding: 5px;
}
