##################################################
#
#   Compass Configuration file.
#   For more info, see http://compass-style.org
#
##################################################

# Set this to the root of your project when deployed:
http_path       = "/src/httpdocs/"
css_dir         = "src/httpdocs/css"
sass_dir        = "src/scss"
images_dir      = "src/httpdocs/img"
javascripts_dir = "src/httpdocs/js"

# You can select your preferred output style here (can be overridden via the command line):
# Options are :expanded or :nested or :compact or :compressed
output_style = :expanded