/*
	File Overview:	Global SCSS
	Author:			Michael Bester
	Description:	Includes all styles for primary styles for the site.
*/
/*
	File Overview:	Base scss definitions
	Author:			Michael Bester
*/
/* Compass global imports */
/* Configure for target Browser Set
   Chrome, IE8+
============================================*/
/* Global variables */
/*
	File Overview:	Basic structural styles.
	Author:			Michael Bester
*/
/* line 6, ../../scss/partials/_structure.scss */
html {
  min-height: 100%;
  margin-bottom: 1px;
}

/* line 11, ../../scss/partials/_structure.scss */
body {
  margin: 0;
  padding: 0;
  border: 0;
  background: #f2f2f2;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-image: url(/img/bg_avb.png);
}

/*
* Window sizes
*/
/*
* Defaults to > 1200px width (>2013)
*/
/* line 29, ../../scss/partials/_structure.scss */
.container {
  width: 1200px;
}

/* line 38, ../../scss/partials/_structure.scss */
#avb-body #information-container #chart-wrap {
  height: 250px;
}
/* line 42, ../../scss/partials/_structure.scss */
#avb-body #information-container #info-wrap {
  height: 250px;
}
/* line 48, ../../scss/partials/_structure.scss */
#avb-body #navigation-container,
#avb-body #information-container {
  height: 600px;
  position: relative;
}
/* line 53, ../../scss/partials/_structure.scss */
#avb-body #navigation {
  height: 88%;
  width: 100%;
}

/* line 61, ../../scss/partials/_structure.scss */
#vdivider {
  left: 280px;
}

/*
* Ipad Portait + Landscape
*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 71, ../../scss/partials/_structure.scss */
  body, html {
    font-size: 12px;
  }

  /* line 75, ../../scss/partials/_structure.scss */
  h1 {
    font-size: 2.5em !important;
  }

  /* line 79, ../../scss/partials/_structure.scss */
  .container {
    width: 980px;
  }

  /* line 87, ../../scss/partials/_structure.scss */
  #avb-body #information-container #chart-wrap {
    height: 220px;
  }
  /* line 91, ../../scss/partials/_structure.scss */
  #avb-body #information-container #info-wrap {
    height: 250px;
  }
  /* line 97, ../../scss/partials/_structure.scss */
  #avb-body #navigation-container,
  #avb-body #information-container {
    height: 550px;
  }
}
/* line 103, ../../scss/partials/_structure.scss */
#footer {
  text-align: center;
  margin-bottom: 5px;
}

/* line 111, ../../scss/partials/_structure.scss */
.group {
  *zoom: 1;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/*
	File Overview:	Basic type styles.
	Author:			Michael Bester
*/
/* line 61, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 8, ../../scss/partials/_typography.scss */
body {
  color: #2a2a2a;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* line 26, ../../scss/partials/_typography.scss */
h1 {
  font-size: 2em;
  line-height: 1.5em;
}

/* line 30, ../../scss/partials/_typography.scss */
h2 {
  font-size: 1.375em;
  line-height: 2.18182em;
}

/* line 34, ../../scss/partials/_typography.scss */
h3 {
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 39, ../../scss/partials/_typography.scss */
h4 {
  font-size: 1.125em;
  line-height: 1.33333em;
}

/* line 5, ../../scss/partials/_avb.scss */
#avb-body {
  font-weight: 200;
}
/* line 10, ../../scss/partials/_avb.scss */
#avb-body #avb-wrap {
  position: relative;
  margin-bottom: 10px;
  padding: 15px;
  padding-top: 10px;
  text-align: left;
  white-space: normal;
  background-color: #f9f9f9;
  -moz-box-shadow: 0px 0px 10px #ccc;
  -webkit-box-shadow: 0px 0px 10px #ccc;
  box-shadow: 0px 0px 10px #ccc;
}

/*
* Entry title and description
*/
/* line 29, ../../scss/partials/_avb.scss */
.title-head {
  font-size: 3em;
  line-height: normal;
  white-space: nowrap;
}

/*
* Cards and legend
*/
/* line 38, ../../scss/partials/_avb.scss */
.link {
  text-decoration: underline;
  cursor: pointer;
  color: black;
}
/* line 43, ../../scss/partials/_avb.scss */
.link:hover {
  color: steelblue;
}

/* line 49, ../../scss/partials/_avb.scss */
.separator:after {
  display: block;
  border: none;
  color: white;
  height: 1px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#cccccc), to(white));
}

/* line 57, ../../scss/partials/_avb.scss */
.dataDownload {
  font-size: 1.2em;
  line-height: 2em;
}
/* line 61, ../../scss/partials/_avb.scss */
.dataDownload .icon-download {
  vertical-align: baseline;
}

/* line 1, ../../scss/partials/_home.scss */
#avb-home, #overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

/* line 8, ../../scss/partials/_home.scss */
#avb-home {
  background-image: url(/img/bg_avb.png);
  z-index: 1010;
  border-bottom: 2px solid #d63366;
  display: none;
}

/* line 15, ../../scss/partials/_home.scss */
#overlay {
  height: 100%;
  z-index: 1000;
  background-color: #000;
  opacity: 0.5;
  display: none;
}

/* line 23, ../../scss/partials/_home.scss */
#home-map {
  display: inline-block;
  vertical-align: top;
  width: 38%;
  height: 200px;
}
/* line 29, ../../scss/partials/_home.scss */
#home-map #home-map-svg {
  margin: 0 auto;
  width: 300px;
  height: 100%;
}
/* line 35, ../../scss/partials/_home.scss */
#home-map .node {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  text-align: center;
  position: absolute;
  cursor: pointer;
  bottom: 0px;
}
/* line 44, ../../scss/partials/_home.scss */
#home-map .node .node-bar {
  display: inline-block;
  width: 85px;
  overflow: hidden;
  border-radius: 5px;
}
/* line 50, ../../scss/partials/_home.scss */
#home-map .node .node-bar .node-value {
  display: none;
  position: absolute;
  bottom: 10px;
  color: white;
  font-size: 1.1em;
  right: 0;
  left: 0;
}
/* line 61, ../../scss/partials/_home.scss */
#home-map .node:hover {
  opacity: 0.8;
}

/* line 78, ../../scss/partials/_home.scss */
#welcome {
  padding: 0px;
  margin-top: 70px;
  padding-top: 30px;
  display: inline-block;
}
/* line 84, ../../scss/partials/_home.scss */
#welcome #welcome-hero {
  width: 60%;
  display: inline-block;
}
/* line 90, ../../scss/partials/_home.scss */
#welcome h1 {
  font-size: 50px;
  color: #666;
  margin-bottom: 10px;
}
/* line 96, ../../scss/partials/_home.scss */
#welcome #tour-link {
  text-decoration: underline;
  cursor: pointer;
  color: black;
}

/* line 1, ../../scss/partials/_chart.scss */
#chart-wrap {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
/* line 8, ../../scss/partials/_chart.scss */
#chart-wrap #chart {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* line 15, ../../scss/partials/_chart.scss */
.line {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-linecap: round;
  opacity: 0.6;
}
/* line 22, ../../scss/partials/_chart.scss */
.line.projection {
  stroke-dasharray: 5, 5;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/* line 32, ../../scss/partials/_chart.scss */
.area {
  opacity: 0.2;
}
/* line 35, ../../scss/partials/_chart.scss */
.area.projection {
  opacity: 0.1;
}

/* line 41, ../../scss/partials/_chart.scss */
.overflows {
  fill: #f9f9f9;
}

/* line 45, ../../scss/partials/_chart.scss */
.browser text {
  text-anchor: end;
}

/* line 49, ../../scss/partials/_chart.scss */
.axis path, .axis line {
  stroke: grey;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-linecap: round;
  shape-rendering: crispEdges;
}
/* line 56, ../../scss/partials/_chart.scss */
.axis text {
  font-family: 'Open Sans';
  font-size: 0.8em;
}
/* line 61, ../../scss/partials/_chart.scss */
.axis .odd {
  fill: none;
}
/* line 65, ../../scss/partials/_chart.scss */
.axis .thisYear {
  fill: black;
  font-weight: bold;
}
/* line 70, ../../scss/partials/_chart.scss */
.axis text {
  cursor: default;
}

/* line 75, ../../scss/partials/_chart.scss */
.multiarea {
  fill-opacity: 0.65;
}

/* line 78, ../../scss/partials/_chart.scss */
.multiline {
  fill: none;
  stroke-width: 2px;
  opacity: 1;
}

/* line 83, ../../scss/partials/_chart.scss */
.multiaxis path {
  stroke-width: 0;
  fill: none;
}

/* line 88, ../../scss/partials/_chart.scss */
.multigrid .tick {
  stroke: lightgrey;
  opacity: 0;
}
/* line 92, ../../scss/partials/_chart.scss */
.multigrid path {
  stroke-width: 1;
}

/* line 97, ../../scss/partials/_chart.scss */
.layerLine, .sideShadow {
  box-shadow: -3px 0px 8px black;
  margin-left: 10px;
}

/* line 2, ../../scss/partials/_cards.scss */
.card {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 2%;
}
/* line 7, ../../scss/partials/_cards.scss */
.card.top {
  padding-top: 5px;
}

/*
* Cards
*/
/* line 16, ../../scss/partials/_cards.scss */
#cards {
  position: relative;
  width: 100%;
  margin-top: 15px;
  overflow: auto;
  cursor: default;
}
/* line 34, ../../scss/partials/_cards.scss */
#cards .card-row .card-img {
  float: left;
}
/* line 36, ../../scss/partials/_cards.scss */
#cards .card-row .card-img img {
  display: block;
}
/* line 41, ../../scss/partials/_cards.scss */
#cards .card-row .card-source {
  padding-left: 0;
  padding-right: 0;
}
/* line 45, ../../scss/partials/_cards.scss */
#cards .card-row .card-source .cardvalue {
  cursor: pointer;
  display: block;
}
/* line 51, ../../scss/partials/_cards.scss */
#cards .card-row .card-source .cardvalue:hover {
  color: steelblue;
}
/* line 56, ../../scss/partials/_cards.scss */
#cards .card-row .carddesc {
  font-size: 1.2em;
  line-height: 1.5em;
}
/* line 61, ../../scss/partials/_cards.scss */
#cards .card-row .cardvalue {
  font-size: 2.4em;
  line-height: 1em;
  font-family: 'Georgia';
}

/* line 70, ../../scss/partials/_cards.scss */
#information-container {
  position: relative;
  padding-left: 5px;
}
/* line 74, ../../scss/partials/_cards.scss */
#information-container #info-wrap {
  overflow: hidden;
  height: 100%;
}
/* line 79, ../../scss/partials/_cards.scss */
#information-container #cards-wrap {
  height: 100%;
  width: 100%;
  position: relative;
}

/* line 86, ../../scss/partials/_cards.scss */
#legend-wrap {
  position: absolute;
  height: 90%;
  left: -100%;
  overflow-y: auto;
  font-size: 1.2em;
  line-height: 1.5em;
}
/* line 94, ../../scss/partials/_cards.scss */
#legend-wrap .legend-label {
  width: 16px;
  height: 16px;
  border-radius: 8px;
}
/* line 100, ../../scss/partials/_cards.scss */
#legend-wrap tr :first-child {
  margin-right: 5px;
}

/* line 1, ../../scss/partials/_navbar.scss */
#avb-menubar {
  font-size: 1.2em;
  padding: 15px 5px 15px 5px;
  z-index: 1050;
  margin-top: 2px;
}
/* line 9, ../../scss/partials/_navbar.scss */
#avb-menubar.purple-border {
  border-top: 2px solid #d63366;
  margin-top: 0px;
}
/* line 14, ../../scss/partials/_navbar.scss */
#avb-menubar .nav {
  margin-bottom: 0px !important;
}
/* line 18, ../../scss/partials/_navbar.scss */
#avb-menubar .entry {
  display: inline-block;
  position: relative;
}
/* line 24, ../../scss/partials/_navbar.scss */
#avb-menubar .homebutton,
#avb-menubar .menubutton {
  cursor: pointer;
  position: relative;
  z-index: 1050;
  vertical-align: bottom;
}
/* line 31, ../../scss/partials/_navbar.scss */
#avb-menubar .search {
  border-radius: 5px;
  border: 1px solid #c2c2c2;
}
/* line 36, ../../scss/partials/_navbar.scss */
#avb-menubar .menubutton {
  display: inline-block;
}
/* line 40, ../../scss/partials/_navbar.scss */
#avb-menubar .menubutton.selected a {
  color: #db4e86;
}
/* line 45, ../../scss/partials/_navbar.scss */
#avb-menubar .menubutton .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
/* line 50, ../../scss/partials/_navbar.scss */
#avb-menubar .menubutton a {
  color: #333333;
}
/* line 54, ../../scss/partials/_navbar.scss */
#avb-menubar .menubutton i {
  vertical-align: baseline;
}
/* line 58, ../../scss/partials/_navbar.scss */
#avb-menubar .menubutton.margin {
  margin-right: 20px;
}

/* line 65, ../../scss/partials/_navbar.scss */
#yeardrop-container {
  min-width: 100px;
}
/* line 72, ../../scss/partials/_navbar.scss */
#yeardrop-container a {
  padding-left: 20px;
}
/* line 75, ../../scss/partials/_navbar.scss */
#yeardrop-container a b {
  float: right;
  margin-right: 5px;
  vertical-align: baseline;
}
/* line 81, ../../scss/partials/_navbar.scss */
#yeardrop-container .dropdown-menu {
  min-width: 100px;
  border-radius: 0px;
}

/* line 2, ../../scss/partials/_table.scss */
.group {
  display: none;
}

/* line 6, ../../scss/partials/_table.scss */
.tablerow {
  height: 40px;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaaaaa;
  font-size: 1.2em;
  line-height: 40px;
}
/* line 15, ../../scss/partials/_table.scss */
.tablerow:hover {
  background-color: #aaaaaa;
}
/* line 19, ../../scss/partials/_table.scss */
.tablerow.atomic .expand-icon {
  display: none;
}

/* line 28, ../../scss/partials/_table.scss */
.tablerow:last-child {
  border-bottom: 0px;
}

/* line 32, ../../scss/partials/_table.scss */
.popover {
  max-width: 350px;
  line-height: 1.5em;
}

/* line 37, ../../scss/partials/_table.scss */
#table-header:hover {
  background-color: transparent;
  cursor: default;
}

/* line 42, ../../scss/partials/_table.scss */
.value, .bullet {
  display: inline-block;
}

/* line 46, ../../scss/partials/_table.scss */
.bullet, .sparkline {
  vertical-align: bottom;
}

/* line 51, ../../scss/partials/_table.scss */
.value {
  text-align: center;
  width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 61, ../../scss/partials/_table.scss */
.value.long {
  width: 300px;
}
/* line 65, ../../scss/partials/_table.scss */
.value.textleft {
  text-align: left;
}
/* line 69, ../../scss/partials/_table.scss */
.value.numeric {
  font-family: "Georgia";
}
/* line 73, ../../scss/partials/_table.scss */
.value.head {
  font-family: 'Open Sans';
  font-weight: 500;
}

/* line 80, ../../scss/partials/_table.scss */
.bullet {
  width: 20px;
  vertical-align: top;
}

/* line 85, ../../scss/partials/_table.scss */
.sparkline {
  line-height: 0px;
}
/* line 86, ../../scss/partials/_table.scss */
.sparkline .line {
  stroke-width: 1px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 93, ../../scss/partials/_table.scss */
  .value {
    width: 100px;
  }
  /* line 96, ../../scss/partials/_table.scss */
  .value.long {
    width: 250px;
  }
}
/* line 2, ../../scss/partials/_navigation.scss */
#navigation {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
}
/* line 6, ../../scss/partials/_navigation.scss */
#navigation text {
  pointer-events: none;
  height: 88%;
  width: 100%;
}
/* line 12, ../../scss/partials/_navigation.scss */
#navigation rect {
  fill: none;
  stroke: #fff;
}
/* line 17, ../../scss/partials/_navigation.scss */
#navigation text {
  font-size: 1.2em;
}
/* line 21, ../../scss/partials/_navigation.scss */
#navigation svg {
  overflow: hidden;
}
/* line 27, ../../scss/partials/_navigation.scss */
#navigation rect.parent,
#navigation .grandparent rect {
  stroke-width: 4px;
}
/* line 31, ../../scss/partials/_navigation.scss */
#navigation .grandparent rect {
  fill: #f9f9f9;
  stroke: none;
}
/* line 36, ../../scss/partials/_navigation.scss */
#navigation .child rect {
  stroke-opacity: 1.0;
}
/* line 40, ../../scss/partials/_navigation.scss */
#navigation rect.parent {
  opacity: 0.6;
}
/* line 45, ../../scss/partials/_navigation.scss */
#navigation .children:hover rect.parent,
#navigation .grandparent:hover rect {
  opacity: 1.0;
}
/* line 49, ../../scss/partials/_navigation.scss */
#navigation .children {
  cursor: pointer;
}
/* line 54, ../../scss/partials/_navigation.scss */
#navigation .children.no-label .titleLabel {
  display: none;
}
/* line 58, ../../scss/partials/_navigation.scss */
#navigation .children.no-label .valueLabel {
  display: none;
}
/* line 62, ../../scss/partials/_navigation.scss */
#navigation .children.no-label text {
  display: none;
}
/* line 68, ../../scss/partials/_navigation.scss */
#navigation .children.no-value .valueLabel {
  display: none;
}
/* line 75, ../../scss/partials/_navigation.scss */
#navigation .textdiv {
  /* text in the boxes */
  padding: 8px;
  font-family: "Open Sans", sans-serif;
}
/* line 80, ../../scss/partials/_navigation.scss */
#navigation .textdiv .titleLabel,
#navigation .textdiv .valueLabel {
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 88, ../../scss/partials/_navigation.scss */
#navigation .textdiv .valueLabel {
  font-size: 1.2em;
}

/* line 95, ../../scss/partials/_navigation.scss */
#zoombutton {
  float: right;
}

/* line 99, ../../scss/partials/_navigation.scss */
.popover {
  z-index: 1050;
}

/* line 103, ../../scss/partials/_navigation.scss */
#ie-popover {
  z-index: 1050;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
  width: 150px;
  height: 50px;
  margin-top: -58px;
  border-radius: 5px;
}
/* line 113, ../../scss/partials/_navigation.scss */
#ie-popover .arrow {
  z-index: 1050;
  position: absolute;
  width: 0;
  height: 0;
  left: 65px;
  top: 50px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.5);
}
/* line 125, ../../scss/partials/_navigation.scss */
#ie-popover .text {
  color: white;
  padding: 5px;
}
