/*
	File Overview:	Global SCSS
	Author:			Michael Bester
	Description:	Includes all styles for primary styles for the site.
*/
/*
	File Overview:	Base scss definitions
	Author:			Michael Bester
*/
/* Compass global imports */
/* Configure for target Browser Set
   Chrome, IE8+
============================================*/
/* Global variables */
/*
	File Overview:	Basic structural styles.
	Author:			Michael Bester
*/
/* line 6, ../../scss/partials/_structure.scss */
html {
  min-height: 100%;
  margin-bottom: 1px;
}

/* line 11, ../../scss/partials/_structure.scss */
body {
  margin: 0;
  padding: 0;
  border: 0;
  background: #f2f2f2;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-image: url(/img/debut_light.png);
}

/*
* Window sizes
*/
/*
* Defaults to > 1200px width (>2013)
*/
/* line 29, ../../scss/partials/_structure.scss */
.container {
  width: 1200px;
}

/* line 38, ../../scss/partials/_structure.scss */
#avb-body #information-container #chart-wrap {
  height: 250px;
}
/* line 42, ../../scss/partials/_structure.scss */
#avb-body #information-container #info-wrap {
  height: 250px;
}
/* line 48, ../../scss/partials/_structure.scss */
#avb-body #navigation-container,
#avb-body #information-container {
  height: 600px;
  position: relative;
}

/* line 55, ../../scss/partials/_structure.scss */
#vdivider {
  left: 280px;
}

/*
* Ipad Portait + Landscape
*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 65, ../../scss/partials/_structure.scss */
  body, html {
    font-size: 12px;
  }

  /* line 69, ../../scss/partials/_structure.scss */
  #vdivider {
    left: 250px;
  }

  /* line 73, ../../scss/partials/_structure.scss */
  .container {
    width: 980px;
  }

  /* line 81, ../../scss/partials/_structure.scss */
  #avb-body #information-container #chart-wrap {
    height: 220px;
  }
  /* line 85, ../../scss/partials/_structure.scss */
  #avb-body #information-container #info-wrap {
    height: 250px;
  }
  /* line 91, ../../scss/partials/_structure.scss */
  #avb-body #navigation-container,
  #avb-body #information-container {
    height: 550px;
  }
}
/* line 97, ../../scss/partials/_structure.scss */
#footer {
  text-align: center;
  margin-bottom: 5px;
}

/* line 105, ../../scss/partials/_structure.scss */
.group {
  *zoom: 1;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/*
	File Overview:	Basic type styles.
	Author:			Michael Bester
*/
/* line 61, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 8, ../../scss/partials/_typography.scss */
body {
  color: #2a2a2a;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* line 22, ../../scss/partials/_typography.scss */
h1 {
  font-size: 2em;
  line-height: 1.5em;
}

/* line 26, ../../scss/partials/_typography.scss */
h2 {
  font-size: 1.375em;
  line-height: 2.18182em;
}

/* line 30, ../../scss/partials/_typography.scss */
h3 {
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 35, ../../scss/partials/_typography.scss */
h4 {
  font-size: 1.125em;
  line-height: 1.33333em;
}

/* line 9, ../../scss/partials/_avb.scss */
#avb-body {
  margin-top: 1%;
  font-weight: 200;
  background-color: #f9f9f9;
}
/* line 15, ../../scss/partials/_avb.scss */
#avb-body #avb-wrap {
  position: relative;
  margin-bottom: 10px;
  padding: 15px;
  padding-top: 10px;
  text-align: left;
  white-space: normal;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  -moz-box-shadow: 0px 0px 10px #ccc;
  -webkit-box-shadow: 0px 0px 10px #ccc;
  box-shadow: 0px 0px 10px #ccc;
}

/*
* Entry title and description
*/
/* line 37, ../../scss/partials/_avb.scss */
.title-head {
  font-size: 3em;
  line-height: normal;
  white-space: nowrap;
}

/*
* Cards and legend
*/
/* line 46, ../../scss/partials/_avb.scss */
.link {
  text-decoration: underline;
  cursor: auto;
  color: black;
}
/* line 51, ../../scss/partials/_avb.scss */
.link:hover {
  color: steelblue;
}

/* line 56, ../../scss/partials/_avb.scss */
.separator:after {
  content: '';
  display: block;
  line-height: 0px;
  height: 1px;
  width: 100%;
  border-top: 1px dashed #aaaaaa;
  margin-top: 5px;
}

/* line 66, ../../scss/partials/_avb.scss */
.separatorb:before {
  content: '';
  display: block;
  line-height: 0px;
  height: 1px;
  width: 100%;
  border-top: 1px dashed #aaaaaa;
  margin-bottom: 5px;
}

/* line 1, ../../scss/partials/_home.scss */
#avb-home {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  -moz-box-shadow: 0px 0px 10px #888;
  -webkit-box-shadow: 0px 0px 10px #888;
  box-shadow: 0px 0px 10px #888;
  background-color: white;
}
/* line 17, ../../scss/partials/_home.scss */
#avb-home #home-img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/* line 23, ../../scss/partials/_home.scss */
#avb-home #home-content {
  width: 100%;
}

/* line 30, ../../scss/partials/_home.scss */
.marketing .span4 {
  text-align: center;
}
/* line 33, ../../scss/partials/_home.scss */
.marketing h2 {
  font-weight: normal;
}
/* line 36, ../../scss/partials/_home.scss */
.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 979px) {
  /* line 43, ../../scss/partials/_home.scss */
  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }

  /* line 48, ../../scss/partials/_home.scss */
  .carousel .item {
    height: 500px;
  }
  /* line 51, ../../scss/partials/_home.scss */
  .carousel img {
    width: auto;
    height: 500px;
  }
}
@media (max-width: 767px) {
  /* line 59, ../../scss/partials/_home.scss */
  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }
  /* line 63, ../../scss/partials/_home.scss */
  .carousel .item, .carousel img {
    height: 300px;
  }

  /* line 67, ../../scss/partials/_home.scss */
  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-top: 100px;
  }
  /* line 71, ../../scss/partials/_home.scss */
  .carousel-caption h1 {
    font-size: 30px;
  }
  /* line 74, ../../scss/partials/_home.scss */
  .carousel-caption .lead, .carousel-caption .btn {
    font-size: 18px;
  }

  /* line 78, ../../scss/partials/_home.scss */
  .marketing .span4 + .span4 {
    margin-top: 40px;
  }
}
/*
* Opendata section
*/
/* line 88, ../../scss/partials/_home.scss */
.dataDownload {
  padding: 15px;
  font-size: 1.3em;
}
/* line 91, ../../scss/partials/_home.scss */
.dataDownload a {
  cursor: pointer;
}

/* line 1, ../../scss/partials/_chart.scss */
#chart-wrap {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
/* line 6, ../../scss/partials/_chart.scss */
#chart-wrap #chart {
  width: 100%;
  height: 100%;
}

/* line 12, ../../scss/partials/_chart.scss */
.line {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-linecap: round;
  opacity: 0.6;
}
/* line 19, ../../scss/partials/_chart.scss */
.line.projection {
  stroke-dasharray: 5, 5;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/* line 26, ../../scss/partials/_chart.scss */
.layers {
  opacity: 0;
}

/* line 30, ../../scss/partials/_chart.scss */
.area {
  opacity: 0.2;
}
/* line 33, ../../scss/partials/_chart.scss */
.area.projection {
  opacity: 0.1;
}

/* line 39, ../../scss/partials/_chart.scss */
.overflows {
  fill: #f9f9f9;
}

/* line 43, ../../scss/partials/_chart.scss */
.browser text {
  text-anchor: end;
}

/* line 47, ../../scss/partials/_chart.scss */
.axis path, .axis line {
  stroke: grey;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-linecap: round;
  shape-rendering: crispEdges;
}
/* line 54, ../../scss/partials/_chart.scss */
.axis text {
  font-family: 'Open Sans';
  font-size: 0.8em;
}
/* line 59, ../../scss/partials/_chart.scss */
.axis .odd {
  fill: none;
}
/* line 63, ../../scss/partials/_chart.scss */
.axis .thisYear {
  fill: black;
  font-weight: bold;
}
/* line 68, ../../scss/partials/_chart.scss */
.axis text {
  cursor: default;
}

/* line 73, ../../scss/partials/_chart.scss */
.multiarea {
  fill-opacity: 0.65;
}

/* line 76, ../../scss/partials/_chart.scss */
.multiline {
  fill: none;
  stroke-width: 2px;
  opacity: 1;
}

/* line 81, ../../scss/partials/_chart.scss */
.multiaxis path {
  stroke-width: 0;
  fill: none;
}

/* line 86, ../../scss/partials/_chart.scss */
.multigrid .tick {
  stroke: lightgrey;
  opacity: 0;
}
/* line 90, ../../scss/partials/_chart.scss */
.multigrid path {
  stroke-width: 1;
}

/* line 2, ../../scss/partials/_cards.scss */
.card {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 2%;
}
/* line 7, ../../scss/partials/_cards.scss */
.card.top {
  padding-top: 5px;
}

/*
* Cards
*/
/* line 16, ../../scss/partials/_cards.scss */
#cards {
  position: absolute;
  width: 100%;
  left: 0;
  overflow: auto;
  cursor: default;
  text-align: center;
}
/* line 25, ../../scss/partials/_cards.scss */
#cards .card-row div:first-child .card {
  padding-right: 6%;
}
/* line 29, ../../scss/partials/_cards.scss */
#cards .card-row div:last-child .card {
  padding-left: 6%;
}
/* line 33, ../../scss/partials/_cards.scss */
#cards .card-row .card-img {
  float: left;
}
/* line 35, ../../scss/partials/_cards.scss */
#cards .card-row .card-img img {
  display: block;
}
/* line 40, ../../scss/partials/_cards.scss */
#cards .card-row .card-source {
  padding-left: 0;
  padding-right: 0;
}
/* line 44, ../../scss/partials/_cards.scss */
#cards .card-row .card-source .cardvalue {
  cursor: pointer;
  display: block;
}
/* line 50, ../../scss/partials/_cards.scss */
#cards .card-row .card-source .cardvalue:hover {
  color: steelblue;
}
/* line 55, ../../scss/partials/_cards.scss */
#cards .card-row .card-text {
  text-align: center;
}
/* line 59, ../../scss/partials/_cards.scss */
#cards .card-row .cardvalue {
  font-size: 2.2em;
  line-height: 1em;
  font-family: 'Georgia';
}
/* line 65, ../../scss/partials/_cards.scss */
#cards .card-row .carddesc {
  font-size: 1em;
}

/* line 71, ../../scss/partials/_cards.scss */
#information-container {
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
}
/* line 76, ../../scss/partials/_cards.scss */
#information-container #info-wrap {
  overflow: hidden;
  height: 100%;
}
/* line 81, ../../scss/partials/_cards.scss */
#information-container #cards-wrap {
  height: 100%;
  width: 100%;
  position: relative;
}

/* line 88, ../../scss/partials/_cards.scss */
#legend-wrap {
  position: absolute;
  height: 100%;
  left: -100%;
  overflow-y: auto;
  padding-left: 3%;
  padding-right: 3%;
}
/* line 96, ../../scss/partials/_cards.scss */
#legend-wrap .legend-label {
  width: 16px;
  height: 16px;
  border-radius: 8px;
}
/* line 102, ../../scss/partials/_cards.scss */
#legend-wrap tr :first-child {
  margin-right: 5px;
}

/* line 2, ../../scss/partials/_navbar.scss */
#avb-menubar {
  border-color: #aaaaaa;
  border-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 1%;
}
/* line 10, ../../scss/partials/_navbar.scss */
#avb-menubar #home-button div {
  cursor: pointer;
}
/* line 13, ../../scss/partials/_navbar.scss */
#avb-menubar #home-button #avb-logo {
  margin-left: 20px;
}
/* line 18, ../../scss/partials/_navbar.scss */
#avb-menubar #avb-links {
  margin-top: 10px;
}
/* line 22, ../../scss/partials/_navbar.scss */
#avb-menubar .menubutton {
  font-size: 1.3em;
  color: #aaaaaa;
}
/* line 27, ../../scss/partials/_navbar.scss */
#avb-menubar #vdivider {
  border-left: 2px solid #aaaaaa;
  position: absolute;
  top: 0;
  height: 100%;
}
/* line 34, ../../scss/partials/_navbar.scss */
#avb-menubar .vhscrollable {
  height: 150px;
  overflow: auto;
}

/* line 3, ../../scss/partials/_navigation.scss */
#navigation text {
  pointer-events: none;
}
/* line 7, ../../scss/partials/_navigation.scss */
#navigation rect {
  fill: none;
  stroke: #fff;
}
/* line 13, ../../scss/partials/_navigation.scss */
#navigation rect.parent,
#navigation .grandparent rect {
  stroke-width: 4px;
}
/* line 17, ../../scss/partials/_navigation.scss */
#navigation .grandparent rect {
  fill: #f9f9f9;
  stroke: none;
}
/* line 22, ../../scss/partials/_navigation.scss */
#navigation .child rect {
  stroke-opacity: 1.0;
}
/* line 26, ../../scss/partials/_navigation.scss */
#navigation rect.parent {
  opacity: 0.6;
}
/* line 31, ../../scss/partials/_navigation.scss */
#navigation .children:hover rect.parent,
#navigation .grandparent:hover rect {
  opacity: 1.0;
}
/* line 35, ../../scss/partials/_navigation.scss */
#navigation .children {
  cursor: pointer;
}
/* line 40, ../../scss/partials/_navigation.scss */
#navigation .children.no-label .titleLabel {
  display: none;
}
/* line 44, ../../scss/partials/_navigation.scss */
#navigation .children.no-label .valueLabel {
  display: none;
}
/* line 50, ../../scss/partials/_navigation.scss */
#navigation .children.no-value .valueLabel {
  display: none;
}
/* line 57, ../../scss/partials/_navigation.scss */
#navigation .textdiv {
  /* text in the boxes */
  padding: 8px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
/* line 62, ../../scss/partials/_navigation.scss */
#navigation .textdiv .titleLabel,
#navigation .textdiv .valueLabel {
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 70, ../../scss/partials/_navigation.scss */
#navigation .textdiv .valueLabel {
  font-size: 1.3em;
}
