/*
	File Overview:	Global SCSS
	Author:			Michael Bester
	Description:	Includes all styles for primary styles for the site.
*/
/*
	File Overview:	Base scss definitions
	Author:			Michael Bester
*/
/* Compass global imports */
/* Configure for target Browser Set
   Chrome, IE8+
============================================*/
/* Global variables */
/*
	File Overview:	Basic structural styles.
	Author:			Michael Bester
*/
/* line 6, ../../scss/partials/_structure.scss */
html {
  min-height: 100%;
  margin-bottom: 1px;
}

/* line 11, ../../scss/partials/_structure.scss */
body {
  margin: 0;
  padding: 0;
  border: 0;
  background: #f2f2f2;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-image: url(/img/debut_light.png);
}

/*
* Window sizes
*/
/*
* Defaults to > 1200px width (>2013)
*/
/* line 28, ../../scss/partials/_structure.scss */
.container {
  width: 1200px;
}

/* line 35, ../../scss/partials/_structure.scss */
#avb-body #bottom-container #bottom-wrap {
  margin-top: 10px;
  height: 250px;
}
/* line 40, ../../scss/partials/_structure.scss */
#avb-body #chart {
  height: 220px;
}
/* line 44, ../../scss/partials/_structure.scss */
#avb-body #navigation-container {
  height: 450px;
}

/* line 48, ../../scss/partials/_structure.scss */
#simplemodal-container {
  height: 600px;
  width: 1200px;
}

/* line 53, ../../scss/partials/_structure.scss */
#vdivider {
  left: 280px;
}

/*
* Ipad Portait + Landscape
*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 62, ../../scss/partials/_structure.scss */
  body, html {
    font-size: 12px;
  }

  /* line 66, ../../scss/partials/_structure.scss */
  #vdivider {
    left: 250px;
  }

  /* line 70, ../../scss/partials/_structure.scss */
  .container {
    width: 980px;
  }

  /* line 77, ../../scss/partials/_structure.scss */
  #avb-body #bottom-wrap {
    height: 200px;
  }
  /* line 81, ../../scss/partials/_structure.scss */
  #avb-body #chart {
    height: 175px;
  }
  /* line 84, ../../scss/partials/_structure.scss */
  #avb-body #navigation-container {
    height: 420px;
  }

  /* line 89, ../../scss/partials/_structure.scss */
  #simplemodal-container {
    height: 500px;
    width: 900px;
  }
}
/* line 100, ../../scss/partials/_structure.scss */
.group {
  *zoom: 1;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/*
	File Overview:	Basic type styles.
	Author:			Michael Bester
*/
/* line 61, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 8, ../../scss/partials/_typography.scss */
body {
  color: #2a2a2a;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* line 14, ../../scss/partials/_typography.scss */
h1 {
  font-size: 2em;
  line-height: 1.5em;
}

/* line 18, ../../scss/partials/_typography.scss */
h2 {
  font-size: 1.375em;
  line-height: 2.18182em;
}

/* line 22, ../../scss/partials/_typography.scss */
h3 {
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 27, ../../scss/partials/_typography.scss */
h4 {
  font-size: 1.125em;
  line-height: 1.33333em;
}

/* line 11, ../../scss/partials/_avb.scss */
div {
  cursor: default;
}

/* line 15, ../../scss/partials/_avb.scss */
text {
  cursor: default;
}

/*
* Body
*/
/* line 22, ../../scss/partials/_avb.scss */
#avb-body {
  margin-top: 1%;
  display: none;
  font-weight: 200;
  background-color: #f9f9f9;
  /*
  *  Navigation system
  */
  /*
  *  Chart (has a separate CSS)
  */
  /*
  *  Bottom container
  */
}
/* line 31, ../../scss/partials/_avb.scss */
#avb-body .chart {
  position: relative;
  overflow: hidden;
}
/* line 36, ../../scss/partials/_avb.scss */
#avb-body #navigation-container {
  overflow: hidden;
  position: relative;
}
/* line 42, ../../scss/partials/_avb.scss */
#avb-body #navigation-container #arrow {
  content: "";
  display: inline-block;
  position: absolute;
  border: 15px solid white;
  border-color: transparent transparent white transparent;
  bottom: 0;
  margin-left: 25px;
  z-index: 1010;
}
/* line 58, ../../scss/partials/_avb.scss */
#avb-body #navigation-container .chart .titleLabel {
  font-size: 12px;
}
/* line 63, ../../scss/partials/_avb.scss */
#avb-body #navigation-container .chart .valueLabel {
  font-size: 18px;
}
/* line 67, ../../scss/partials/_avb.scss */
#avb-body #navigation-container .chart .rectangle {
  position: absolute;
  display: table;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 3px;
  background-color: #D7E1EB;
}
/* line 77, ../../scss/partials/_avb.scss */
#avb-body #navigation-container .chart .rectangle.selected .overlay {
  box-shadow: 0px 0px 10px black;
}
/* line 81, ../../scss/partials/_avb.scss */
#avb-body #navigation-container .chart .rectangle.selected .titleLabel {
  font-size: 1.3em;
}
/* line 85, ../../scss/partials/_avb.scss */
#avb-body #navigation-container .chart .rectangle.selected .valueLabel {
  font-size: 2em;
}
/* line 93, ../../scss/partials/_avb.scss */
#avb-body #navigation-container .chart .outer {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  position: static;
}
/* line 102, ../../scss/partials/_avb.scss */
#avb-body #navigation-container .chart .overlay {
  background-image: url(/img/texture.png);
  opacity: 0.15;
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 110, ../../scss/partials/_avb.scss */
#avb-body #navigation-container .chart .inner {
  position: relative;
  top: -50%;
}
/* line 116, ../../scss/partials/_avb.scss */
#avb-body #navigation-container .chart .titleLabel,
#avb-body #navigation-container .chart .valueLabel {
  margin-left: 10px;
  line-height: 1em;
  color: #333333;
}
/* line 132, ../../scss/partials/_avb.scss */
#avb-body #bottom-container {
  position: relative;
  margin-bottom: 10px;
  padding: 1%;
  text-align: left;
  white-space: normal;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  -moz-box-shadow: 0px 0px 10px #ccc;
  -webkit-box-shadow: 0px 0px 10px #ccc;
  box-shadow: 0px 0px 10px #ccc;
}
/* line 147, ../../scss/partials/_avb.scss */
#avb-body #bottom-container #bottom-wrap {
  position: relative;
}
/* line 151, ../../scss/partials/_avb.scss */
#avb-body #bottom-container #bottom-left-wrap {
  height: 100%;
}
/* line 154, ../../scss/partials/_avb.scss */
#avb-body #bottom-container #bottom-left-wrap #bottom-left {
  height: 100%;
  overflow-y: auto;
  padding-right: 5px;
}
/* line 163, ../../scss/partials/_avb.scss */
#avb-body .arrow_box {
  position: relative;
  background: #f9f9f9;
}
/* line 167, ../../scss/partials/_avb.scss */
#avb-body .arrow_box:after, #avb-body .arrow_box:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 177, ../../scss/partials/_avb.scss */
#avb-body .arrow_box:after {
  border-color: rgba(249, 249, 249, 0);
  border-bottom-color: #f9f9f9;
  border-width: 9px;
  left: 10%;
  margin-left: -10px;
}
/* line 185, ../../scss/partials/_avb.scss */
#avb-body .arrow_box:before {
  border-color: rgba(163, 163, 163, 0);
  border-bottom-color: #a3a3a3;
  border-width: 11px;
  left: 10%;
  margin-left: -11px;
}

/*
* Entry title and description
*/
/* line 200, ../../scss/partials/_avb.scss */
.title-head {
  font-size: 2em;
  line-height: normal;
}

/* line 205, ../../scss/partials/_avb.scss */
.title-descr {
  font-size: 1.3em;
}

/*
* Cards and legend
*/
/* line 213, ../../scss/partials/_avb.scss */
.card {
  padding-top: 3%;
  margin-left: 2%;
}

/* line 219, ../../scss/partials/_avb.scss */
#bottom-right,
#modal-right {
  overflow: hidden;
  height: 100%;
}
/* line 223, ../../scss/partials/_avb.scss */
#bottom-right #legend,
#modal-right #legend {
  position: absolute;
  height: 100%;
  width: 100%;
  left: -100%;
  overflow-y: auto;
}
/* line 231, ../../scss/partials/_avb.scss */
#bottom-right #legend .legend-label,
#modal-right #legend .legend-label {
  width: 16px;
  height: 16px;
  border-radius: 8px;
}
/* line 237, ../../scss/partials/_avb.scss */
#bottom-right #legend tr :first-child,
#modal-right #legend tr :first-child {
  margin-right: 5px;
}
/* line 242, ../../scss/partials/_avb.scss */
#bottom-right #cards,
#modal-right #cards {
  position: absolute;
  width: 100%;
  left: 0;
  overflow: auto;
}
/* line 248, ../../scss/partials/_avb.scss */
#bottom-right #cards .card-row:first-child,
#modal-right #cards .card-row:first-child {
  padding-left: 0;
}
/* line 254, ../../scss/partials/_avb.scss */
#bottom-right #cards .card-row .card-img,
#modal-right #cards .card-row .card-img {
  float: left;
}
/* line 256, ../../scss/partials/_avb.scss */
#bottom-right #cards .card-row .card-img img,
#modal-right #cards .card-row .card-img img {
  display: block;
}
/* line 261, ../../scss/partials/_avb.scss */
#bottom-right #cards .card-row .cardtitle,
#modal-right #cards .card-row .cardtitle {
  font-size: 1.3em;
  border: 1px;
  color: #aaaaaa;
}
/* line 267, ../../scss/partials/_avb.scss */
#bottom-right #cards .card-row .cardvalue,
#modal-right #cards .card-row .cardvalue {
  font-size: 2.2em;
  line-height: 1em;
}
/* line 272, ../../scss/partials/_avb.scss */
#bottom-right #cards .card-row .carddesc,
#modal-right #cards .card-row .carddesc {
  font-size: 0.7em;
}

/* 
* Modal
*/
/* line 282, ../../scss/partials/_avb.scss */
#simplemodal-overlay {
  background-color: black;
  opacity: 1;
}

/* line 287, ../../scss/partials/_avb.scss */
#modal-container {
  display: none;
  font-weight: 200;
}

/* line 292, ../../scss/partials/_avb.scss */
#simplemodal-container {
  position: relative;
  background: #000;
  border: 1px solid black;
  border-radius: 11px;
  background-color: #f9f9f9 !important;
}
/* line 294, ../../scss/partials/_avb.scss */
#simplemodal-container #basic-modal-content {
  display: none;
}
/* line 304, ../../scss/partials/_avb.scss */
#simplemodal-container .simplemodal-data {
  position: relative;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2%;
}
/* line 311, ../../scss/partials/_avb.scss */
#simplemodal-container .simplemodal-data #modal-toprow {
  height: 20%;
  overflow: auto;
  margin-bottom: 20px;
}
/* line 316, ../../scss/partials/_avb.scss */
#simplemodal-container .simplemodal-data #modal-toprow .title-head {
  margin-bottom: 10px;
}
/* line 321, ../../scss/partials/_avb.scss */
#simplemodal-container .simplemodal-data #modal-bottomrow {
  height: 76%;
}
/* line 325, ../../scss/partials/_avb.scss */
#simplemodal-container .simplemodal-data #modal-bottomrow .span8 {
  height: 100%;
}
/* line 327, ../../scss/partials/_avb.scss */
#simplemodal-container .simplemodal-data #modal-bottomrow .span8 #modal-switch {
  height: 10%;
}
/* line 330, ../../scss/partials/_avb.scss */
#simplemodal-container .simplemodal-data #modal-bottomrow .span8 #modal-chart {
  height: 90%;
}
/* line 335, ../../scss/partials/_avb.scss */
#simplemodal-container .simplemodal-data #modal-bottomrow .span4 {
  height: 76%;
}
/* line 338, ../../scss/partials/_avb.scss */
#simplemodal-container .simplemodal-data #modal-bottomrow .span4 #modal-right {
  margin-top: 10%;
}
/* line 345, ../../scss/partials/_avb.scss */
#simplemodal-container a.modalCloseImg {
  background: url(../img/delete_icon.png) no-repeat;
  width: 25px;
  height: 29px;
  display: inline;
  z-index: 3200;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}
/* line 356, ../../scss/partials/_avb.scss */
#simplemodal-container h3 {
  color: #84b8d9;
}

/* line 1, ../../scss/partials/_home.scss */
#avb-home {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  -moz-box-shadow: 0px 0px 10px #888;
  -webkit-box-shadow: 0px 0px 10px #888;
  box-shadow: 0px 0px 10px #888;
  background-color: white;
}
/* line 17, ../../scss/partials/_home.scss */
#avb-home #home-img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/* line 23, ../../scss/partials/_home.scss */
#avb-home #home-content {
  width: 100%;
}

/* line 30, ../../scss/partials/_home.scss */
.marketing .span4 {
  text-align: center;
}
/* line 33, ../../scss/partials/_home.scss */
.marketing h2 {
  font-weight: normal;
}
/* line 36, ../../scss/partials/_home.scss */
.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 979px) {
  /* line 43, ../../scss/partials/_home.scss */
  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }

  /* line 48, ../../scss/partials/_home.scss */
  .carousel .item {
    height: 500px;
  }
  /* line 51, ../../scss/partials/_home.scss */
  .carousel img {
    width: auto;
    height: 500px;
  }
}
@media (max-width: 767px) {
  /* line 59, ../../scss/partials/_home.scss */
  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }
  /* line 63, ../../scss/partials/_home.scss */
  .carousel .item, .carousel img {
    height: 300px;
  }

  /* line 67, ../../scss/partials/_home.scss */
  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-top: 100px;
  }
  /* line 71, ../../scss/partials/_home.scss */
  .carousel-caption h1 {
    font-size: 30px;
  }
  /* line 74, ../../scss/partials/_home.scss */
  .carousel-caption .lead, .carousel-caption .btn {
    font-size: 18px;
  }

  /* line 78, ../../scss/partials/_home.scss */
  .marketing .span4 + .span4 {
    margin-top: 40px;
  }
}
/* line 1, ../../scss/partials/_chart.scss */
.nv-legend .disabled circle {
  fill-opacity: 0;
}

/* line 4, ../../scss/partials/_chart.scss */
.chartline {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/* line 10, ../../scss/partials/_chart.scss */
.chartline-projection {
  stroke-dasharray: 5, 5;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/* line 15, ../../scss/partials/_chart.scss */
.browser text {
  text-anchor: end;
}

/* line 19, ../../scss/partials/_chart.scss */
.axis path, .axis line {
  stroke: grey;
  stroke-width: 0;
  stroke-linejoin: round;
  stroke-linecap: round;
  shape-rendering: crispEdges;
}
/* line 26, ../../scss/partials/_chart.scss */
.axis text {
  font-family: "Helvetica Neue";
  font-size: 0.8em;
}
/* line 31, ../../scss/partials/_chart.scss */
.axis .odd {
  fill: none;
}
/* line 35, ../../scss/partials/_chart.scss */
.axis .thisYear {
  fill: black;
  font-weight: bold;
}

/* line 41, ../../scss/partials/_chart.scss */
.multiarea {
  fill-opacity: 0.65;
}

/* line 44, ../../scss/partials/_chart.scss */
.multiline {
  fill: none;
  stroke-width: 2px;
  opacity: 1;
}

/* line 49, ../../scss/partials/_chart.scss */
.multiaxis path {
  stroke-width: 0;
  fill: none;
}

/* line 54, ../../scss/partials/_chart.scss */
.multigrid .tick {
  stroke: lightgrey;
  opacity: 0;
}
/* line 58, ../../scss/partials/_chart.scss */
.multigrid path {
  stroke-width: 1;
}

/* line 63, ../../scss/partials/_chart.scss */
#chart {
  position: relative;
}

/* line 2, ../../scss/partials/_navbar.scss */
#avb-menubar {
  border-color: #aaaaaa;
  border-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 1%;
}
/* line 10, ../../scss/partials/_navbar.scss */
#avb-menubar #home-button div {
  cursor: pointer;
}
/* line 13, ../../scss/partials/_navbar.scss */
#avb-menubar #home-button #avb-logo {
  margin-left: 20px;
}
/* line 18, ../../scss/partials/_navbar.scss */
#avb-menubar #avb-links {
  margin-top: 10px;
}
/* line 22, ../../scss/partials/_navbar.scss */
#avb-menubar .menubutton {
  font-size: 1.3em;
  color: #aaaaaa;
}
/* line 27, ../../scss/partials/_navbar.scss */
#avb-menubar #vdivider {
  border-left: 2px solid #aaaaaa;
  position: absolute;
  top: 0;
  height: 100%;
}
/* line 34, ../../scss/partials/_navbar.scss */
#avb-menubar .vhscrollable {
  height: 150px;
  overflow: auto;
}
