/*
	File Overview:	IE SCSS
	Author:			Michael Bester
	Description:	Includes IE style fixes for the site.
*/
/*
	File Overview:	Base scss definitions
	Authors:		Michael Bester,
					Ivan DiLernia, Roger Zhu
*/
/* Compass global imports */
/* Configure for target Browser Set
   Chrome, IE8+
============================================*/
/*
*	Fonts
*/
/*
*	Colors
*/
/*
*	Page
*/
/* line 44, ../../scss/partials/_base.scss */
html {
  min-height: 100%;
  position: relative;
}

/* line 49, ../../scss/partials/_base.scss */
body {
  color: #333333;
  font-family: 'Strait', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url(/img/bg_avb.png);
  height: 100%;
}

/* line 58, ../../scss/partials/_base.scss */
p {
  vertical-align: top;
}

/*
* Tablet Portait + Landscape
*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 66, ../../scss/partials/_base.scss */
  body, html {
    font-size: 12px;
  }
}
