/*
	File Overview:	Print Styles SCSS
	Author:			Michael Bester
	Description:	Includes all styles for primary styles for the site.
*/
/*
	File Overview:	Base scss definitions
	Author:			Michael Bester
*/
/* Compass global imports */
/* Configure for target Browser Set
   Chrome, IE8+
============================================*/
/* Global variables */
/* line 9, ../../scss/print.scss */
.rectangle :before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-left: 100% solid #999;
}
