/*
	File Overview:	Print Styles SCSS
	Author:			Ivan DiLernia
	Description:	Includes all styles for primary styles for the site.
*/
/*
	File Overview:	Base scss definitions
	Author:			Michael Bester
*/
/* Compass global imports */
/* Configure for target Browser Set
   Chrome, IE8+
============================================*/
/* Global variables */
@page {
  size: landscape;
}

/* line 15, ../../scss/print.scss */
.popover {
  background: white !important;
}

/* line 20, ../../scss/print.scss */
#zoombutton {
  display: none;
}

/* line 24, ../../scss/print.scss */
.overflows {
  display: none;
}

/* line 29, ../../scss/print.scss */
a:link:after, a:visited:after {
  content: "";
}

/* line 33, ../../scss/print.scss */
#avb-body {
  margin-bottom: 20px;
}
