/*
	File Overview:	Print Styles SCSS
	Author:			Ivan DiLernia
	Description:	Includes all styles for primary styles for the site.
*/

@import "partials/base";

// best printed on landscape
@page {
	size: landscape;
}

// force popover to have white background
.popover{
	background: white !important;
}

// don't show zoom button
#zoombutton {
	display: none;
}

.overflows{
	display: none;
}

// hide link paths
a:link:after, a:visited:after {
    content: "";
}

#avb-body{
	margin-bottom: 20px;
}