/*
	File Overview:	Print Styles SCSS
	Author:			Michael Bester
	Description:	Includes all styles for primary styles for the site.
*/

@import "partials/base";

.rectangle :before {
	position: absolute;
	top : 0;
	left : 0;
	height: 100%;
	border-left: 100% solid #999;
}